<div fxLayout="column" fxLayoutAlign="center center" [@fadeIn]>
  <h2>Special Expressions</h2>
  <p>I have decided to call this next section "Special Expressions" only because with the exception of the
    first few lessons, most of the grammar here applies to more specific areas than the grammar we have
    covered so far. These special expressions, while individually not vital, are, as a collection, necessary for
    regular everyday conversations. We are slowly entering the stage where we've built the toolbox and we
    now need to acquire the little tools that will make the toolbox complete. Now that we covered most of the
    base, it is time to look at all the little itty gritty bits. You are welcome to skip around the lessons, however;
    the examples will assume that you have gone over all previous sections.
  </p>
  <div>
    <h2> Causative and Passive Verbs</h2>
    <p>
      We will now learn the last two major types of verb conjugations: causative and passive forms. These two
      verb conjugations are traditionally covered together because of the notorious causative-passive combination.
      We will now go over what all these things are and how they are used.
    </p>
    <h3>Causative Verbs</h3>
    <h3>Vocabulary</h3>

    <p>
      1. あげる - to give; to raise <br>
      2. くれる - to give <br>
      3. 全部【ぜん・ぶ】- everything <br>
      4. ⾷べる【た・べる】 - to eat <br>
      5. 着る【き・る】 - to wear <br>
      6. 信じる【しん・じる】 - to believe <br>
      7. 寝る【ね・る】 - to sleep <br>
      8. 起きる【お・きる】 - to wake; to occur <br>
      9. 出る【で・る】 - to come out <br>
      10. 掛ける【か・ける】 - to hang <br>
      11. 捨てる【す・てる】 - to throw away <br>
      12. 調べる【しら・べる】 - to investigate <br>
      13. 話す【はな・す】 - to speak <br>
      14. 聞く【き・く】 - to ask; to listen <br>
      15. 泳ぐ【およ・ぐ】 - to swim <br>
      16. 遊ぶ【あそ・ぶ】 - to play <br>
      17. 待つ【ま・つ】 - to wait <br>
      18. 飲む【の・む】 - to drink <br>
      19. 直る【なお・る】 - to be fixed <br>
      20. 死ぬ【し・ぬ】 - to die <br>
      21. 買う【か・う】 - to buy <br>
      22. する(exception) - to do <br>
      23. 来る【く・る】(exception) - to come <br>
      24. 先⽣【せん・せい】- teacher <br>
      25. 学⽣【がく・せい】- student <br>
      26. 宿題【しゅく・だい】- homework <br>
      27. たくさん- a lot (amount) <br>
      28. 質問【しつ・もん】- question <br>
      29. 今⽇【きょう】- today <br>
      30. 仕事【し・ごと】- job <br>
      31. 休む【やす・む】 - to rest <br>
      32. その- abbreviation of 「それの」 <br>
      33. 部⻑【ぶ・ちょう】- section manager <br>
      34. いい - good <br>
      35. ⻑時間【ちょう・じ・かん】- long period of time <br>
      36. 働く【はたら・く】 - to work <br>
      37. トイレ- bathroom; toilet <br>
      38. ⾏く【い・く】 - to go
    </p>

    <p>
      Verbs conjugated into the causative form are used to indicate an action that someone makes happen.
      Like Captain Picard so succinctly puts it, the causative verb means to "make it so". This verb is usually
      used in the context of making somebody do something. The really confusing thing about the causative
      verb is that it can also mean to let someone do something. Or maybe this is a different type of verb with
      the exact same conjugation rules. Whichever the case may be, a verb in the causative form can mean
      either making or letting someone do something. The only good news is that when the causative form is
      used with 「あげる」and 「くれる」, it almost always means to "let someone do". Once you get used
      to it, surprisingly, it becomes quite clear which meaning is being used when.
    </p>

    <p>
      1. 全部⾷べさせた。 <br>
      Made/Let (someone) eat it all. <br> <br>

      2. 全部⾷べさせてくれた。 <br>
      Let (someone) eat it all.
    </p>

    <p>
      Here are the conjugation rules for the causative form. All causative verbs become 一段動詞【いち・だん・どう・し】.
    </p>

    <p>
      • For 一段動詞【いち・だん・どう・し】: Replace the last 「る」with 「させる」. <br>
      • For 五段活用動詞【ご・だん・かつ・よう・どう・し】: Change the last character as you would for negative verbs but attach「せる」instead
      of 「ない」.
    </p>

    <p>
      • Exception Verbs:
    </p>
    <p>
      1. 「する」becomes 「させる」 <br>
      2. 「くる」becomes 「こさせる」
    </p>

    <h3>Causative Conjugation Rules</h3>
    <p>
      Sample 一段動詞【いち・だん・どう・し】
    </p>
    <p>
      ⾷べる -> ⾷べさせる <br>
      着る着 -> させる <br>
      信じる -> 信じさせる <br>
      寝る寝 -> させる <br>
      起きる -> 起きさせる <br>
      出る出 -> させる <br>
      掛ける -> 掛けさせる <br>
      捨てる -> 捨てさせる <br>
      調べる -> 調べさせる
    </p>

    <p>
      Sample 五段活用動詞【ご・だん・かつ・よう・どう・し】
    </p>
    <p>
      話す -> 話させる <br>
      聞く -> 聞かせる <br>
      泳ぐ -> 泳がせる <br>
      遊ぶ -> 遊ばせる <br>
      待つ -> 待たせる <br>
      飲む -> 飲ませる <br>
      直る -> 直らせる <br>
      死ぬ -> 死なせる <br>
      買う -> 買わせる
    </p>
    <p>
      Exception Verbs 不規則動詞【ふ・き・そく・どう・し】
    </p>
    <p>
      する -> させる <br>
      くる -> こさせる <br>
    </p>
    <h3>Examples</h3>

    <p>
      Here are some examples using the causative verb. Context will usually tell you which is being meant,
      but for our purposes we will assume that when the verb is used with 「あげる」and 「くれる」(くださ
      い) it means "to let someone do" while it means, "to make someone do" when used without it.
    </p>
    <p>
      1. 先⽣が学⽣に宿題をたくさんさせた。 <br>
      Teacher made students do lots of homework. <br> <br>

      2. 先⽣が質問をたくさん聞かせてくれた。 <br>
      Teacher let (someone) ask lots of questions. <br> <br>

      3. 今⽇は仕事を休ませてください。 <br>
      Please let me rest from work today. (Please let me take the day off today.) <br> <br>

      4. その部⻑は、よく⻑時間働かせる。 <br>
      That manager often makes (people) work long hours.
    </p>

    <p>
      When asking for permission to let someone do something, it is more common to use the 「〜てもいい」
      grammar.
    </p>
    <p>
      1. トイレに⾏かせてくれますか。 <br>
      Can you let me go to the bathroom? (Sounds like a prisoner, even in English) <br> <br>

      2. トイレに⾏ってもいいですか。 <br>
      Is it ok to go to the bathroom? (No problem here)
    </p>

    <h3>A Shorter Alternative</h3>
    <h3>Vocabulary</h3>

    <p>
      1. ⾷べる【た・べる】 - to eat <br>
      2. ⾏く【い・く】 - to go <br>
      3. する(exception) - to do <br>
      4. 来る【く・る】(exception) - to come <br>
      5. 同じ【おな・じ】- same <br>
      6. こと- event, matter <br>
      7. 何回【なん・かい】- how many times <br>
      8. ⾔う【い・う】 - to say <br>
      9. お腹【お・なか】- stomach
    </p>

    <h3>Examples</h3>

    <p>
      Here are some examples using the causative verb. Context will usually tell you which is being meant,
      but for our purposes we will assume that when the verb is used with 「あげる」and 「くれる」(くださ
      い) it means "to let someone do" while it means, "to make someone do" when used without it.
    </p>

    <p>
      1. 先⽣が学⽣に宿題をたくさんさせた。 <br>
      Teacher made students do lots of homework. <br> <br>

      2. 先⽣が質問をたくさん聞かせてくれた。 <br>
      Teacher let (someone) ask lots of questions. <br> <br>

      3. 今⽇は仕事を休ませてください。 <br>
      Please let me rest from work today. (Please let me take the day off today.) <br> <br>

      4. その部⻑は、よく⻑時間働かせる。 <br>
      That manager often makes (people) work long hours.
    </p>
    <p>
      When asking for permission to let someone do something, it is more common to use the 「〜てもいい」
      grammar.
    </p>

    <p>
      1. トイレに⾏かせてくれますか。 <br>
      Can you let me go to the bathroom? (Sounds like a prisoner, even in English) <br> <br>

      2. トイレに⾏ってもいいですか。 <br>
      Is it ok to go to the bathroom? (No problem here)
    </p>

    <h3>A Shorter Alternative</h3>
    <h3>Vocabulary</h3>

    <p>
      1. ⾷べる【た・べる】 - to eat <br>
      2. ⾏く【い・く】 - to go <br>
      3. する(exception) - to do <br>
      4. 来る【く・る】(exception) - to come <br>
      5. 同じ【おな・じ】- same <br>
      6. こと- event, matter <br>
      7. 何回【なん・かい】- how many times <br>
      8. ⾔う【い・う】 - to say <br>
      9. お腹【お・なか】- stomach <br>
      5.1.2 Passive Verbs
    </p>
    <h3>Vocabulary</h3>

    <p>
      1. ⾷べる【た・べる】 - to eat <br>
      2. 着る【き・る】 - to wear <br>
      3. 信じる【しん・じる】 - to believe <br>
      4. 寝る【ね・る】 - to sleep <br>
      5. 起きる【お・きる】 - to wake; to occur <br>
      6. 出る【で・る】 - to come out <br>
      7. 掛ける【か・ける】 - to hang <br>
      8. 捨てる【す・てる】 - to throw away <br>
      9. 調べる【しら・べる】 - to investigate <br>
      10. 話す【はな・す】 - to speak <br>
      11. 聞く【き・く】 - to ask; to listen <br>
      12. 泳ぐ【およ・ぐ】 - to swim <br>
      13. 遊ぶ【あそ・ぶ】 - to play <br>
      14. 待つ【ま・つ】 - to wait <br>
      15. 飲む【の・む】 - to drink <br>
      16. 直る【なお・る】 - to be fixed <br>
      17. 死ぬ【し・ぬ】 - to die <br>
      18. 買う【か・う】 - to buy <br>
      19. する(exception) - to do <br>
      20. 来る【く・る】(exception) - to come <br>
      21. ポリッジ- porridge <br>
      22. 誰【だれ】- who <br>
      23. 皆【みんな】- everybody <br>
      24. 変【へん】 - strange <br>
      25. ⾔う【い・う】 - to say <br>
      26. 光【ひかり】- light <br>
      27. 速い【はや・い】 - fast <br>
      28. 超える【こ・える】 - to exceed <br>
      29. 不可能【ふ・か・のう】- impossible <br>
      30. 思う【おも・う】 - to think <br>
      31. この- this (abbr. of これの) <br>
      32. 教科書【きょう・か・しょ】- textbook <br>
      33. 多い【おお・い】 - numerous <br>
      34. ⼈【ひと】- person <br>
      35. 読む【よ・む】 - to read <br>
      36. 外国⼈【がい・こく・じん】- foreigner <br>
      37. 質問【しつ・もん】- question <br>
      38. 答える【こた・える】 - to answer <br>
      39. パッケージ - package <br>
      40. あらゆる - all <br>
      41. 含む【ふく・む】 - to include <br>
    </p>

    <p>
      Passive verbs are verbs that are done to the (passive) subject. Unlike English style of writing which
      discourages the use of the passive form, passive verbs in Japanese are often used in essays and articles.
    </p>

    <p>
      All passive verbs become 一段動詞【いち・だん・どう・し】.
    </p>

    <p>
      • For 一段動詞【いち・だん・どう・し】: Replace the last 「る」with 「られる」 <br>
      • For 五段活用動詞【ご・だん・かつ・よう・どう・し】: Change the last character as you would for negative verbs but attach「れる」instead
      of 「ない」.
    </p>

    <p>
      • Exception Verbs:
    </p>

    <p>
      1. 「する」becomes 「される」 <br>
      2. 「くる」becomes 「こられる」
    </p>

    <h3>Sample 一段動詞【いち・だん・どう・し】</h3>
    <p>
      ⾷べる -> ⾷べられる <br>
      着る -> 着られる <br>
      信じる -> 信じられる <br>
      寝る寝 -> られる <br>
      起きる -> 起きられる <br>
      出る -> 出られる  <br>
      掛ける -> 掛けられる <br>
      捨てる -> 捨てられる <br>
      調べる -> 調べられる
    </p>

    <h3>Sample 五段活用動詞【ご・だん・かつ・よう・どう・し】</h3>

    <p>
      話す -> 話される <br>
      聞く -> 聞かれる <br>
      泳ぐ -> 泳がれる <br>
      遊ぶ -> 遊ばれる <br>
      待つ -> 待たれる <br>
      飲む -> 飲まれる <br>
      直る -> 直られる <br>
      死ぬ -> 死なれる <br>
      買う -> 買われる
    </p>

    <h3>
      Exception Verbs 不規則動詞【ふ・き・そく・どう・し】
    </h3>
    <p>
      する -> される <br>
      くる -> こられる
    </p>

    <h3>Examples</h3>
    <p>
      1. ポリッジが誰かに⾷べられた！ <br>
      The porridge was eaten by somebody! <br> <br>

      2. みんなに変だと⾔われます。 <br>
      I am told by everybody that (I'm) strange. <br> <br>

      3. 光の速さを超えるのは、不可能だと思われる。 <br>
      Exceeding the speed of light is thought to be impossible. <br> <br>

      4. この教科書は多くの⼈に読まれている。 <br>
      This textbook is being read by a large number of 
      people. <br> <br>

      5. 外国⼈に質問を聞かれたが、答えられなかった。 <br>
      I was asked a question by a foreigner but I couldn't answer. <br> <br>

      6. このパッケージには、あらゆるものが含まれている。 <br>
      Everything is included in this package.
    </p>

    <h3>Using passive form to show politeness</h3>
    <h3>Vocabulary</h3>

    <p>
      1. どう- how <br>
      2. する(exception) - to do <br>
      3. 領収証【りょう・しゅう・しょう】- receipt <br>
      4. 明⽇【あした】- tomorrow <br>
      5. 会議【かい・ぎ】- meeting <br>
      6. ⾏く【い・く】 - to go
    </p>

    <p>
        While we will go over various types of grammar that express a politeness level above the normal -masu/-
        desu forms in the next lesson, it is useful to know that using passive form is another more polite way to
        express an action. In Japanese, a sentence is usually more polite when it is less direct. For example, it
        is more polite to refer to someone by his or her name and not by the direct pronoun "you". It is also more
        polite to ask a negative question than a positive one. (For example, 「しますか？」vs. 「しませんか？」
        ) In a similar sense, using the passive form makes the sentence less direct because the subject does not
        directly perform the action. This makes it sound more polite. Here is the same sentence in increasing
        degrees of politeness.
    </p>
    
    <p>
        1. どうする？- What will you do? (lit: How do?) <br>
        2. どうしますか？- Regular polite. <br>
        3. どうされますか？- Passive polite. <br>
        4. どうなさいますか？- Honorific (to be covered next lesson) <br>
        5. どうなさいますでしょうか？- Honorific + a lesser degree of certainty.
    </p>
    
    <p>
        Notice how the same sentence grows longer and longer as you get more and more indirect.
    </p>

    <h3>Examples</h3>
    
    <p>
        1. 領収証はどうされますか？ <br>
        What about your receipt? (lit: How will you do receipt?) <br> <br>

        2. 明⽇の会議に⾏かれるんですか？ <br>
        Are you going to tomorrow's meeting?
    </p>
    
    <h3>Causative-Passive Forms</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. ⾷べる【た・べる】 - to eat <br>
        2. ⾏く【い・く】 - to go <br>
        3. 朝ご飯【あさ・ご・はん】- breakfast <br>
        4. ⽇本【に・ほん】- Japan <br>
        5. お酒【お・さけ】- alcohol <br>
        6. 飲む【の・む】 - to drink <br>
        7. こと- event, matter <br>
        8. 多い【おお・い】 - numerous
    </p>
    
    <p>
        While we will go over various types of grammar that express a politeness level above the normal -masu/-
        desu forms in the next lesson, it is useful to know that using passive form is another more polite way to
        express an action. In Japanese, a sentence is usually more polite when it is less direct. For example, it
        is more polite to refer to someone by his or her name and not by the direct pronoun "you". It is also more
        polite to ask a negative question than a positive one. (For example, 「しますか？」vs. 「しませんか？」
        ) In a similar sense, using the passive form makes the sentence less direct because the subject does not
        directly perform the action. This makes it sound more polite. Here is the same sentence in increasing
        degrees of politeness.
    </p>
    
    <p>
        1. どうする？- What will you do? (lit: How do?) <br>
        2. どうしますか？- Regular polite. <br>
        3. どうされますか？- Passive polite. <br>
        4. どうなさいますか？- Honorific (to be covered next lesson) <br>
        5. どうなさいますでしょうか？- Honorific + a lesser degree of certainty. <br> <br>

        Notice how the same sentence grows longer and longer as you get more and more indirect.
    </p>
   
    <h3>Examples</h3>
    
    <p>
        1. 領収証はどうされますか？ <br>
        What about your receipt? (lit: How will you do receipt?) <br> <br>

        2. 明⽇の会議に⾏かれるんですか？ <br>
        Are you going to tomorrow's meeting?
    </p>
    
    <h3>Causative-Passive Forms</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. ⾷べる【た・べる】 - to eat <br>
        2. ⾏く【い・く】 - to go <br>
        3. 朝ご飯【あさ・ご・はん】- breakfast <br>
        4. ⽇本【に・ほん】- Japan <br>
        5. お酒【お・さけ】- alcohol <br>
        6. 飲む【の・む】 - to drink <br>
        7. こと- event, matter <br>
        8. 多い【おお・い】 - numerous <br>
        2. ⽴つ【た・つ】 - to stand <br>
        3. ⾷べる【た・べる】 - to eat <br>
        4. 話す【はな・す】 - to speak <br>
        5. 学⽣【がく・せい】- student <br>
        6. 廊下【ろう・か】- hall, corridor <br>
        7. ⽇本【に・ほん】- Japan <br>
        8. お酒【お・さけ】- alcohol <br>
        9. 飲む【の・む】 - to drink <br>
        10. こと- event, matter <br>
        11. 多い【おお・い】 - numerous <br>
        12. あいつ- that guy (derogatory) <br>
        13. 〜時間【〜じ・かん】- counter for span of hour(s) <br>
        14. 待つ【ま・つ】 - to wait
    </p>
    
    <p>
        Going along with the shorter causative alternative, you can also use the same conjugation for the causativepassive
        form. I won't cover it in too much detail because the usefulness of this form is rather limited just
        like the shorter causative form itself. The idea is to simply used the shortened causative form instead of
        using the regular causative conjugation. The rest is the same as before.
    </p>
    
    <p>
        First conjugate to the shortened causative form. Then conjugate to the passive form.
    </p>
    <h3>Examples</h3>
    
    <p>
        1. ⾏く -> ⾏かす -> ⾏かされる <br>
        2. ⽴つ -> ⽴たす -> ⽴たされる
    </p>

    <h3>Shortened causative-passive form examples</h3>

    <p>
        This form cannot be used in cases where the shorter causative form ends in 「さす」, in other words,
        you can't have a 「さされる」ending.
    </p>
    
    <h3>Examples of verbs you can't use in this form.</h3>
    
    <p>
        1. ⾷べる→ ⾷べさす→ ⾷べさされる <br>
        2. 話す→ 話さす→ 話さされる
    </p>

    <h3>Examples</h3>
   
    <p>
        1. 学⽣が廊下に⽴たされた。 <br>
        The student was made to stand in the hall. <br> <br>

        2. ⽇本では、お酒を飲まされることが多い。 <br>
        In Japan, the event of being made to drink is numerous. <br> <br>

        3. あいつに⼆時間も待たされた。 <br>
        I was made to wait 2 hours by that guy.
    </p>
  </div>

  <div>
    <h2>
        Various ways to express similarity and hearsay <br>（よう、〜みたい、〜そう、〜そうだ、〜らしい、〜っぽい）
    </h2>
    <p>
        In Japanese there are many different ways to express likeness or similarity depending on appearance,
        behavior, or outcome. When learning these expressions for the first time, it is difficult to understand what
        the differences are between them because they all translate to the same thing in English. This lesson
        is designed to study the differences between these expressions so that you can start to get a sense of
        which is appropriate for what you want to say.
    </p>

    <h3>1 Expressing similarity with よう(様)</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. ここ- here <br>
        2. 誰【だれ】- who <br>
        3. いる - to exist (animate) <br>
        4. 映画【えい・が】- movie <br>
        5. 観る【み・る】 - to watch <br>
        6. 学⽣【がく・せい】- student <br>
        7. 静か【しず・か】 - quiet <br>
        8. あの- that (over there) (abbr. of あれの) <br>
        9. ⼈【ひと】- person <br>
        10. ⾒る【み・る】 - to see <br>
        11. 気【き】- mood; intent <br>
        12. する(exception) - to do <br>
        13. 彼【かれ】- he; boyfriend <br>
        14. 雰囲気【ふん・い・き】- atmosphere; mood <br>
        15. ちょっと- a little <br>
        16. 怒る【おこ・る】 - to get angry <br>
        17. 聞こえる【き・こえる】 - to be audible <br>
        18. 何【なに／なん】- what <br>
        19. 起こる【おこ・る】 - to happen <br>
        20. ⾔う【い・う】 - to say
    </p>
    
    <p>
        We've already briefly gone over 「よう」and learned that 「よう」means an appearance or manner.
        We can use this definition to say that something has an appearance or manner of a certain state. This
        word can be used in many ways to express similarity. The simplest example is by directly modifying the
        relative clause. When the sentence ends in 「よう」, you must explicitly express the state-of-being by
        adding 「だ」, 「です」, or 「でございます」.
    </p>

    <p>
        1. ここには、誰もいないようだ。 <br>
        Looks like no one is here. <br> <br>

        2. 映画を観たようです。 <br>
        Looks like (he) watched the movie.
    </p>
    
    <p>
        When directly modifying nouns or 形容動詞【けい・ようどう・し】, you must use the 「の」particle for nouns or attach
        「な」to 形容動詞【けい・ようどう・し】.
    </p>
    
    <p>
        1. 学⽣のようだ。 <br>
        Looks like it's a student. <br> <br>
        
        2. ここは静かなようだ。 <br>
        Looks like it's quiet.
    </p>
    

    <p>
        Notice that example 1 does not say that the person looks like a student. Rather, the declarative 「だ」
        states that the person appears to be a student. On a side note, you can't say 「おいしいようだ」to say
        that something looks tasty. This is like saying, "This dish apparently is tasty," which can actually be kind
        of rude.
    </p>

    <p>
        You can also use it as a 形容動詞【けい・ようどう・し】 to describe something that appears to be something else.
    </p>

    <p>
        1. あの⼈を⾒たような気がした。 <br>
        Had a feeling like I saw that person before. <br> <br>

        2. 彼は学⽣のような雰囲気ですね。 <br>
        He has a student-like atmosphere.
    </p>
    
    <p>
        Finally, we can attach the target particle to say things like, "I heard it like that" or "I said it like...".
    </p>

    <p>
        1. ちょっと怒ったように聞こえた。 <br>
        Was able to hear it like (she) was a little mad. <br> <br>

        2. 何も起こらなかったように⾔った。 <br>
        Said (it) like nothing happened.
    </p>

    <h3>Using 「みたい」to say something looks like something else Vocabulary</h3>
    
    <p>
        1. ⾒る【み・る】 - to see <br>
        2. ⽝【いぬ】- dog <br>
        3. もう- already <br>
        4. 売り切れ【う・り・き・れ】- sold out <br>
        5. 制服【せい・ふく】- uniform <br>
        6. 着る【き・る】 - to wear <br>
        7. 姿【すがた】- figure <br>
        8. 学⽣【がく・せい】- student <br>
        9. この- this (abbr. of これの) <br>
        10. ピザ- pizza <br>
        11. お好み焼き【お・この・み・や・き】- okonomiyaki (Japanese-style pancake) <br>
        12. ⾒える【み・える】 - to be visible
    </p>

    <p>
        Another way to express similarity which is considered more casual is by using「みたい」. Do not confuse
        this with the「たい」conjugation of「⾒る」. The main difference is that this「みたい」can be attached
        directly to nouns, adjectives, and verbs just like particles which 形容詞【けい・よう・し】 like 「〜たい」obviously
        can't do.
    </p>
    
    <p>
        Attach 「みたい」to the noun that bears the resemblance. 「みたい」conjugates like a noun or
        形容動詞【けい・ようどう・し】 and not an 形容詞【けい・よう・し】.
    </p>

    <h3>Conjugation Example with 「⽝」</h3>
   
    <p>
        Non-Past ⽝みたい⽝じゃないみたい <br>
        looks like a dog doesn't look like a dog <br> <br>
    
        Past ⽝だったみたい⽝じゃなかったみたい <br>
        looked like a dog didn't look like a dog
    </p> 

    <p>
        Using 「みたい」to say something looks like something else
    </p>

    <h3>Examples</h3>

    <p>
        1. もう売り切れみたい。 <br>
        Looks like it's sold out already.5.7.2 Using 「みたい」to say something looks like something else
    </p>
    
    <h3>Vocabulary</h3>
    
    <p>
        1. ⾒る【み・る】 - to see <br>
        2. ⽝【いぬ】- dog <br>
        3. もう- already <br>
        4. 売り切れ【う・り・き・れ】- sold out <br>
        5. 制服【せい・ふく】- uniform <br>
        6. 着る【き・る】 - to wear <br>
        7. 姿【すがた】- figure <br>
        8. 学⽣【がく・せい】- student <br>
        9. この- this (abbr. of これの) <br>
        10. ピザ- pizza <br>
        11. お好み焼き【お・この・み・や・き】- okonomiyaki (Japanese-style pancake) <br>
        12. ⾒える【み・える】 - to be visible
    </p>

    <p>
        Another way to express similarity which is considered more casual is by using「みたい」. Do not confuse
        this with the「たい」conjugation of「⾒る」. The main difference is that this「みたい」can be attached
        directly to nouns, adjectives, and verbs just like particles which 形容詞【けい・よう・し】 like 「〜たい」obviously
        can't do.
    </p>
   
    <p>
        Attach 「みたい」to the noun that bears the resemblance. 「みたい」conjugates like a noun or
        形容動詞【けい・ようどう・し】 and not an 形容詞【けい・よう・し】.
    </p>
    
    <h3> Conjugation Example with 「⽝」</h3>
   
    <p>
        Non-Past ⽝みたい⽝じゃないみたい <br>
        looks like a dog doesn't look like a dog <br> <br>

        Past ⽝だったみたい⽝じゃなかったみたい <br>
        looked like a dog didn't look like a dog
    </p>

    <h3>
        Using 「みたい」to say something looks like something else
    </h3>

    <h3>Examples</h3>
    
    <p>
        1. もう売り切れみたい。 <br>
        Looks like it's sold out already. <br> <br>

        2. 制服を着ている姿をみると、学⽣みたいです。 <br>
        Looking at the uniform-wearing figure, (person) looks like a student.
    </p>
    
    <p>
        The implied meaning here is the person wearing the uniform is not really a student because he/she only
        looks like a student. This is different from example 3 from the previous 「よう」section which implied
        that the person appears to be (but might not be) a student. Again, we also can't say 「おいしいみた
        い」to say that something looks tasty because it implies that, in actuality, the food might not be so good.
        Similarly, you would never say 「かわいいみたい」to say that something looks cute.
        Don't forget that 「みたい」does not conjugate like the 「〜たい」form or 形容詞【けい・よう・し】.
    </p>

    <p>
        • このピザはお好み焼きみたくない？ <br>
        (みたいconjugates like a 形容動詞【けい・ようどう・し】.) <br> <br>

        • このピザはお好み焼きみたいじゃない？ <br>
        Doesn't this pizza looks like okonomiyaki?
    </p>
    
    <p>
        「みたい」is a grammar used mostly for conversational Japanese. Do not use it in essays, articles, or
        anything that needs to sound authoritative. You can use 「よう」instead in the following fashion.
    </p>

    <p>
        1. もう売り切れのようだ。 <br>
        It appears that it is sold-out already. <br> <br>

        2. このピザはお好み焼きのように⾒える。 <br>
        This pizza looks like okonomiyaki.
    </p>
    <h3> Guessing at an outcome using 「〜そう」</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. いい - good <br>
        2. バランス- balance <br>
        3. 崩れる【くず・れる】 - to collapse; to crumble <br>
        4. ⼀瞬【いっ・しゅん】- an instant <br>
        5. 倒れる【たお・れる】 - to collapse; to fall <br>
        6. この- this (abbr. of これの) <br>
        7. 辺り【あた・り】- vicinity <br>
        8. ある - to exist (inanimate) <br>
        9. 漬物【つけ・もの】- pickled vegetable <br>
        10. おいしい - tasty <br>
        11. これ- this <br>
        12. 結構【けっ・こう】- fairly, reasonably <br>
        13. やはり／やっぱり- as I thought <br>
        14. ⾼い【たか・い】 - high; tall; expensive <br>
        15. お前【お・まえ】- you (casual) <br>
        16. ⾦髪【きん・ぱつ】- blond hair <br>
        17. ⼥【おんな】- woman; girl <br>
        18. 好き【す・き】 - likable; desirable <br>
        19. もう- already <br>
        20. 〜時【〜じ】- counter for hours <br>
        21. なる - to become <br>
        22. 来る【く・る】(exception) - to come <br>
        23. ただ- free of charge; only <br>
        24. 試合【し・あい】- match, game <br>
        25. その- that (abbr. of それの) <br>
        26. ⼈【ひと】- person <br>
        27. 学⽣【がく・せい】- student <br>
        28. かわいい - cute <br>
        29. かわいそう - pitiable <br>
        30. ⽝【いぬ】- dog
    </p>
   
    <p>
        The problem with English is that the expression, "seems like" has too many meanings. It can mean
        similarity in appearance, similarity in behavior or even that current evidence points to a likely outcome.
        We will now learn how to say the third meaning: how to indicate a likely outcome given the situation.
    </p>

    <p>
        Just like the grammar we have learned so far in this lesson, we can use this grammar by simply attaching
        「そう」to the end of verbs, and adjectives. However, there are four important different cases. Actually, I
        just noticed this but the conjugation rules are exactly the same as the 「〜すぎる」grammar we learned
        in the last section. The only difference is that for the adjective 「いい」, you need to change it to 「よさ」
        before attaching 「そう」to create 「よさそう」.
    </p>

    <p>
        1. Verbs must be changed to the stem. <br>
        2. The 「い」in 形容詞【けい・よう・し】 must be dropped except for 「いい」. <br>
        3. 「いい」must first be conjugated to 「よさ」. <br>
        4. For all negatives, the 「い」must be replaced with 「さ」. <br>
        5. This grammar does not work with plain nouns.
    </p>
    
    <h3> Rules for conjugation</h3>
   
    <p>
    1. Verb must be changed to the stem. <br>
    For 一段動詞【いち・だん・どう・し】, remove the 「る」
    </p>
    <p>
        • バランスが崩れて、⼀瞬倒れそうだった。 <br>
        Losing my balance, I seemed likely to fall for a moment. <br> <br>

        For 五段活用動詞【ご・だん・かつ・よう・どう・し】, change the / u / vowel sound to an / i / vowel sound  <br> <br>

        • この辺りにありそうだけどな。 <br>
        It seems likely that it would be around here but...
    </p>

    <p>
        2. The 「い」in 形容詞【けい・よう・し】 must be dropped. <br>
        In the next example, the 「い」has been dropped from 「おいしい」.
    </p>

    <p>
        • この漬物はおいしそう！ <br>
        I bet this pickled vegetable is tasty! (This pickled vegetable looks good!) <br> <br>

        Exception: The only exception to this rule is the adjective 「いい」. When using this grammar with「いい」, you must first change it to 「よさ」. <br> <br>

        • これも結構よさそうだけど、やっぱり⾼いよね。 <br>
        This one also seems to be good but, as expected, it's expensive, huh? <br> <br>

        Nothing needs to be done for 形容動詞【けい・ようどう・し】. <br> <br>

        • お前なら、⾦髪の⼥が好きそうだな。 <br>
        Knowing you, I bet you like blond-haired girls.
    </p>
  
    <p>
        3. For all negatives, the 「い」must be replaced with 「さ」. <br>
        The negative of 「来る」is 「こない」so when used with 「〜そう」, it becomes 「こなさそう」.
    </p>

    <p>
        1. もう10 時になったから、来なさそうだね。 <br>
        Since it already became 10:00, it's likely that (person) won't come. <br> <br>

        2. これはただの試合じゃなさそうだ。 <br>
        This isn't likely to be an ordinary match.
    </p>
    
    <p>
        Identical to the 「〜すぎる」grammar, 形容詞【けい・よう・し】 that are derived from the negative 「〜ない」
        like 「もったいない」or 「情けない」also follow this rule as well (which would be 「もったいなさそ
        う」and 「情けなさそう」in this case).
    </p>

    <p>
        4. This grammar does not work with plain nouns.
    </p>

    <p>
        • その⼈は学⽣そう。 <br>
        There are other grammar we have already covered that can be used to indicate that something is likely
        to be something else.
    </p>

    <p>
        1. その⼈は学⽣でしょう。 <br>
        That person is probably student. <br> <br>

        2. その⼈は学⽣だろう。 <br>
        That person is probably student.
    </p>

    <p>
        Be careful never to use 「かわいい」with this grammar. 「かわいそう」is a completely different word
        used when you feel sorry for something or someone. 「かわいい」means, "to look cute" already so you
        never need to use any of the grammar in this lesson to say something looks cute.
    </p>

    <p>
        1. この⽝はかわいそう。 <br>
        Oh, this poor dog. <br> <br>

        2. この⽝はかわいい。 <br>
        This dog is cute.
    </p>

    <h3>Expressing hearsay using 「〜そうだ」</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. 明⽇【あした】- tomorrow <br>
        2. ⾬【あめ】- rain <br>
        3. 降る【ふ・る】 - to precipitate <br>
        4. 毎⽇【まい・にち】- everyday <br>
        5. 会う【あ・う】 - to meet <br>
        6. ⾏く【い・く】 - to go <br>
        7. 彼【かれ】- he; boyfriend <br>
        8. ⾼校⽣【こう・こう・せい】- high school student <br>
        9. 今⽇【きょう】- today <br>
        10. ⽥中【た・なか】- Tanaka (last name) <br>
        11. 来る【く・る】(exception) - to come
    </p>

    <p>
        The reason that there are so many annoying rules to using 「〜そう」is to distinguish it from this next
        grammar we will learn. This is a useful grammar for talking about things you heard that doesn't necessary
        have anything to do with how you yourself, think or feel. Unlike the last grammar we learned, you can
        simply attach 「そうだ」to verbs and 形容詞【けい・よう・し】. For 形容動詞【けい・ようどう・し】 and nouns, you must indicate the
        state-of-being by adding 「だ」to the noun/形容動詞【けい・ようどう・し】. Also, notice that 「そう」itself must always
        end in 「だ」、「です」、or 「でございます」. These differences are what distinguishes this grammar
        from the one we learned in the last section. There are no tenses for this grammar.
    </p>

    <p>
        1. 明⽇、⾬が降るそうだ。 <br>
        I hear that it's going to rain tomorrow. <br> <br>

        2. 毎⽇会いに⾏ったそうです。 <br>
        I heard he went to meet everyday.
    </p>

    <p>
        Don't forget to add 「だ」for nouns or 形容動詞【けい・ようどう・し】. <br> <br>
        
        • 彼は、⾼校⽣だそうです。 <br>
        I hear that he is a high school student.
    </p>
   
    <p>
        When starting the sentence with this grammar, you also need to add 「だ」just like you do with 「だか
        ら」
    </p>
    
    <p>

        Ａ：今⽇、⽥中さんはこないの？ <br>
        A: Is Tanaka-san not coming today? <br> <br>

        Ｂ：だそうです。 <br>
        B: So I hear.
    </p>

    <h3>Expressing hearsay or behavior using 「〜らしい」</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. 今⽇【きょう】- today <br>
        2. ⽥中【た・なか】- Tanaka (last name) <br>
        3. 来る【く・る】(exception) - to come <br>
        4. あの- that (over there) (abbr. of あれの) <br>
        5. ⼈【ひと】- person <br>
        6. 何【なん】- what <br>
        7. 美由紀【み・ゆ・き】- Miyuki (first name) <br>
        8. 友達【とも・だち】- friend <br>
        9. ⼦【こ】- child <br>
        10. ⼦供【こ・ども】- child <br>
        11. ⼤⼈【おとな】- adult <br>
        12. する(exception) - to do <br>
        13. つもり- intention, plan <br>
        14. ⼤騒ぎ【おお・さわ・ぎ】- big commotion
    </p>

    <p>
        「らしい」can be directly attached to nouns, adjectives, or verbs to show that things appear to be a
        certain way due to what you've heard. This is different from「〜そうだ」because「〜そうだ」indicates
        something you heard about specifically while 「らしい」means things seem to be a certain way based
        on some things you heard about the subject. 「らしい」conjugates like a normal 形容詞【けい・よう・し】.
    </p>

    <h3>Example 1</h3>
    
    <p>
        Ａ：今⽇、⽥中さんはこないの？ <br>
        A: Is Tanaka-san not coming today? <br> <br>

        Ｂ：こないらしい。 <br>
        B: Seems like it (based on what I heard).
    </p>

    <h3>Example 2</h3>
    
    <p>
        Ａ：あの⼈は何なの？ <br>
        A: What is that person over there? <br> <br>

        Ｂ：美由紀さんの友達らしいですよ。 <br>
        B: Seems to be Miyuki-san's friend (based on what I heard).
    </p>
    
    <p>
        Another way to use「らしい」is to indicate that a person seems to be a certain thing due to his behavior.
    </p>

    <p>
        1. あの⼦は⼦供らしくない。 <br>
        That child does not act like a child. <br> <br>

        2. ⼤⼈らしくするつもりだったのに、⼤騒ぎしてしまった。 <br>
        Despite the fact that I planned to act like an adult, I ended up making a big ruckus.
    </p>

    <h3>「っぽい」: Slang expression of similarity</h3>
    <h3>Vocabulary</h3>
    
    <p>
        1. あの- that (over there) (abbr. of あれの) <br>
        2. ⼈【ひと】- person <br>
        3. 韓国⼈【かん・こく・じん】- Korean person <br>
        4. 皆【みんな】- everybody <br>
        5. もう- already <br>
        6. 全部【ぜん・ぶ】- everything <br>
        7. ⾷べる【た・べる】 - to eat <br>
        8. 恭⼦【きょう・こ】- Kyouko (first name) <br>
        9. 全然【ぜん・ぜん】- not at all (when used with negative) <br>
        10. ⼥【おんな】- woman; girl
    </p>
    
    <p>
        A really casual way to express similarity is to attach「っぽい」to the word that reflects the resemblance.
        Because this is a very casual expression, you can use it as a casual version for all the different types of
        expression for similarity covered above.    
    </p>

    <p>
        「っぽい」conjugates just like an 形容詞【けい・よう・し】, as seen by example 3 below.
    </p>

    <p>
        1. あの⼈はちょっと韓国⼈っぽいよね。 <br>
        That person looks a little like Korean person, huh? <br> <br>

        2. みんなで、もう全部⾷べてしまったっぽいよ。 <br>
        It appears that everybody ate everything already. <br> <br>

        3. 恭⼦は全然⼥っぽくないね。 <br>
        Kyouko is not womanly at all, huh?
    </p>
  </div>
</div>
