<div fxLayout="column" fxLayoutAlign="center center" [@fadeIn]>

    <h2>Essential Grammar</h2>

    <p>
        We have learned the basic foundation of the Japanese language. 
        we can now extend that by learning specific grammar for various situations. This section will go over what is considered to be essential grammar for basic practical Japanese. 
        You will begin to see fewer literal translations in order to emphasize the new grammar now that you (should) have a good understanding of the basic fundamental grammar.
    </p>

</div>
