<div fxLayout="column" fxLayoutAlign="center center" [@fadeIn]>

  <h2>Essential Grammar</h2>

  <p>
    We have learned the basic foundation of the Japanese language.
    we can now extend that by learning specific grammar for various situations. This section will go over what is
    considered to be essential grammar for basic practical Japanese.
    You will begin to see fewer literal translations in order to emphasize the new grammar now that you (should) have a
    good understanding of the basic fundamental grammar.
  </p>

  <div>
    <h2>The Question Marker （か）</h2>

    <h3>Questions in polite form</h3>
    <h3>Vocabulary</h3>
    <p>
      1. ⽥中【た・なか】- Tanaka (last name) <br>
      2. お⺟さん【お・かあ・さん】- mother (polite) <br>
      3. どこ- where <br>
      4. 鈴⽊【すず・き】- Suzuki (last name) <br>
      5. ⺟【はは】- mother <br>
      6. 買い物【か・い・もの】- shopping <br>
      7. ⾏く【い・く】- to go <br>
      8. イタリア- Italy <br>
      9. 料理【りょう・り】- cooking, cuisine, dish <br>
      10. ⾷べる【た・べる】- to eat <br>
      11. すみません- sorry (polite) <br>
      12. ちょっと- a little <br>
      13. お腹【お・なか】- stomach <br>
      14. いっぱい- full <br>
      15. ごめんなさい- sorry (polite) <br>
      16. ごめん- sorry <br>
    </p>

    <p>
      The question marker is covered here because it is primarily used to clearly indicate a question in polite
      sentences. While it is entirely possible to express a question even in polite form using just intonation, the
      question marker is often attached to the very end of the sentence to indicate a question. The question
      marker is simply the hiragana character「か」and you don't need to add a question mark. For previously
      explained reasons, you must not use the declarative 「だ」with the question marker.
    </p>

    <h3>Example 1</h3>
    <p>
      ⽥中さん：お⺟さんはどこですか。 <br>
      Tanaka-san: Where is (your) mother? <br>
      鈴⽊さん：⺟は買い物に⾏きました。 <br>
      Suzuki-san: (My) mother went shopping.
    </p>

    <h3>Example 2</h3>

    <p>
      キムさん：イタリア料理を⾷べに⾏きませんか。 <br>
      Kim-san: Go to eat Italian food? <br> <br>

      鈴⽊さん：すみません。ちょっと、お腹がいっぱいです。 <br>
      Suzuki-san: Sorry. (My) stomach is a little full.
    </p>
    <p>
      Here the question is actually being used as an invitation just like how in English we say, "Won't you come
      in for a drink?" 「すみません」is a polite way of apologizing. Slightly less formal is 「ごめんなさい」
      while the casual version is simply 「ごめん」.
    </p>

    <h3>Vocabulary</h3>
    <p>
      1. こんな- this sort of <br>
      2. 本当【ほん・とう】- real <br>
      3. ⾷べる【た・べる】- to eat <br>
      4. そんな- that sort of <br>
      5. ある - to exist (inanimate)
    </p>

    <p>
      It makes sense to conclude that the question marker would work in exactly the same way in casual speech
      as it does in polite speech. However, this is not the case. The question marker 「か」is usually not
      used with casual speech to make actual questions. It is often used to consider whether something is
      true or not. Depending on the context and intonation, it can also be used to make rhetorical questions
      or to express sarcasm. It can sound quite rough so you might want to be careful about using 「か」for
      questions in the plain casual form.
    </p>

    <h3>Examples</h3>

    <p>
      1. こんなのを本当に⾷べるか？ <br>
      Do you think [he/she] will really eat this type of thing? <br> <br>

      2. そんなのは、あるかよ！ <br>
      Do I look like I would have something like that?!
    </p>

    <p>
      Instead of 「か」, real questions in casual speech are usually asked with the explanatory のparticle or
      nothing at all except for a rise in intonation, as we have already seen in previous sections.
    </p>

    <p>
      1. こんなのを本当に⾷べる？ <br>
      Are you really going to eat something like this? <br> <br>

      2. そんなのは、あるの？ <br>
      Do you have something like that?
    </p>

    <h2>「か」used in relative clauses</h2>

    <h3>Vocabulary</h3>

    <p>
      1. 昨⽇【きのう】- yesterday <br>
      2. 何【なに】- what <br>
      3. ⾷べる【た・べる】- to eat <br>
      4. 忘れる【わす・れる】- to forget <br>
      5. 彼【かれ】- he; boyfriend <br>
      6. ⾔う【い・う】- to say <br>
      7. 分かる【わ・かる】- to understand <br>
      8. 先⽣【せん・せい】- teacher <br>
      9. 学校【がっ・こう】- school <br>
      10. ⾏く【い・く】- to go <br>
      11. 教える【おし・える】- to teach; to inform <br>
      12. どう- how <br>
      13. 知る【し・る】- to know
    </p>

    <p>
      Another use of the question marker is simply grammatical and has nothing to do with the politeness. A
      question marker attached to the end of a relative clause makes a mini-question inside a larger sentence.
      This allows the speaker to talk about the question. For example, you can talk about the question, "What
      did I eat today?" In the following examples, the question that is being considered is in red.
    </p>

    <p>
      1. 昨⽇何を⾷べたか忘れた。 <br>
      Forgot what I ate yesterday. <br> <br>

      2. 彼は何を⾔ったか分からない。 <br>
      Don't understand what he said. <br> <br>

      3. 先⽣が学校に⾏ったか教えない？ <br>
      Won't you inform me whether teacher went to school?
    </p>

    <p>
      In sentences like example 3 where the question being considered has a yes/no answer, it is common (but
      not necessary) to attach 「どうか」. This is roughly equivalent to saying, "whether or not" in English.
      You can also include the alternative as well to mean the same thing.
    </p>

    <p>
      1. 先⽣が学校に⾏ったかどうか知らない。 <br>
      Don't know whether or not teacher went to school. <br> <br>

      2. 先⽣が学校に⾏ったか⾏かなかったか知らない。 <br>
      Don't know whether teacher went to school or didn't.
    </p>


    <h3>Vocabulary</h3>

    <p>
      1. おいしい - tasty <br>
      2. クッキー- cookie <br>
      3. 全部【ぜん・ぶ】- everything <br>
      4. ⾷べる【た・べる】 - to eat <br>
      5. 誰【だれ】- who <br>
      6. 盗む【ぬす・む】- to steal <br>
      7. 知る【し・る】- to know <br>
      8. 犯⼈【はん・にん】- criminal <br>
      9. ⾒る【み・る】- to see <br>
      10. この- this (abbr. of これの) <br>
      11. 中【なか】- inside <br>
      12. 〜から - from 〜 <br>
      13. 選ぶ【えら・ぶ】- to select <br>
    </p>

    <p>
      While we're on the topic of questions, this is a good time to go over question words (where, who, what,
      etc.) and what they mean in various contexts. Take a look at what adding the question marker does to
      the meaning of the words.
    </p>

    <h3>Question Words</h3>

    <p>
      誰か - Someone <br>
      何か - Something <br>
      いつか - Sometime <br>
      どこか - Somewhere <br>
      どれか - A certain one from many
    </p>

    <h3>Examples</h3>

    <p>
      As you can see by the following examples, you can treat these words just like any regular nouns.
    </p>

    <p>
      1. 誰かがおいしいクッキーを全部⾷べた。 <br>
      Someone ate all the delicious cookies. <br> <br>

      2. 誰が盗んだのか、誰か知りませんか。 <br>
      Doesn't anybody know who stole it? <br> <br>

      3. 犯⼈をどこかで⾒ましたか。 <br>
      Did you see the criminal somewhere? <br> <br>

      4. この中からどれかを選ぶの。 <br>
      (Explaining) You are to select a certain one from inside this (selection).
    </p>

    <h3>Question words with inclusive meaning</h3>

    <h3>Vocabulary</h3>

    <p>
      1. 全部【ぜん・ぶ】- everything <br>
      2. 皆【みんな】- everybody <br>
      3. 皆さん【みな・さん】- everybody (polite) <br>
      4. この- this (abbr. of これの) <br>
      5. 質問【しつ・もん】- question <br>
      6. 答え【こた・え】- answer <br>
      7. 知る【し・る】- to know <br>
      8. 友達【とも・だち】- friend <br>
      9. 遅れる【おく・れる】- to be late <br>
      10. ここ- here <br>
      11. ある- to exist (inanimate) <br>
      12. レストラン- restaurant <br>
      13. おいしい - tasty <br>
      14. 今週末【こん・しゅう・まつ】- this weekend <br>
      15. ⾏く【い・く】 - to go
    </p>

    <p>
      The same question words in the chart above can be combined with 「も」in a negative sentence to
      mean "nobody" (誰も), "nothing" (何も), "nowhere" (どこも), etc.
    </p>
    <p>
      「誰も」and 「何も」are primarily used only for negative sentences. Curiously, there is no way to
      say "everything" with question words. Instead, it is conventional to use other words like 「全部」. And
      although 「誰も」can sometimes be used to mean "everybody", it is customary to use 「皆」or 「皆さ
      ん」
    </p>
    <p>
      The remaining three words 「いつも」(meaning "always") and 「どれも」(meaning "any and all"), and
      「どこも」(meaning everywhere) can be used in both negative and positive sentences.
    </p>

    <h3>Inclusive Words</h3>
    <p>
      誰も - Everybody/Nobody <br>
      何も - Nothing (negative only) <br>
      いつも - Always <br>
      どこも - Everywhere <br>
      どれも - Any and all
    </p>

    <h3>Examples</h3>
    <p>
      この質問の答えは、誰も知らない。 <br>
      Nobody knows the answer of this question.
    </p>

    <h3>Vocabulary</h3>
    <p>
      1. 皆【みんな】- everybody <br>
      2. 皆さん【みな・さん】- everybody (polite) <br>
      3. この- this (abbr. of これの) <br>
      4. 質問【しつ・もん】- question <br>
      5. 答え【こた・え】- answer <br>
      6. 知る【し・る】 - to know <br>
      7. 友達【とも・だち】- friend <br>
      8. 遅れる【おく・れる】 - to be late <br>
      9. ここ- here <br>
      10. ある - to exist (inanimate) <br>
      11. レストラン- restaurant <br>
      12. おいしい - tasty <br>
      13. 今週末【こん・しゅう・まつ】- this weekend <br>
      14. ⾏く【い・く】 - to go
    </p>

    <p>
      The same question words in the chart above can be combined with 「も」in a negative sentence to
      mean "nobody" (誰も), "nothing" (何も), "nowhere" (どこも), etc.
    </p>

    <p>
      「誰も」and 「何も」are primarily used only for negative sentences. Curiously, there is no way to
      say "everything" with question words. Instead, it is conventional to use other words like 「全部」. And
      although 「誰も」can sometimes be used to mean "everybody", it is customary to use 「皆」or 「皆さ
      ん」
    </p>
    <p>
      The remaining three words 「いつも」(meaning "always") and 「どれも」(meaning "any and all"), and
      「どこも」(meaning everywhere) can be used in both negative and positive sentences.
    </p>

    <h3>Inclusive Words</h3>

    <p>
      誰も - Everybody/Nobody <br>
      何も - Nothing (negative only) <br>
      いつも - Always <br>
      どこも - Everywhere <br>
      どれも - Any and all
    </p>

    <h3>Examples</h3>

    <p>
      1. この質問の答えは、誰も知らない。 <br>
      Nobody knows the answer of this question. <br> <br>

      2. 友達はいつも遅れる。 <br>
      Friend is always late. <br> <br>

      3. ここにあるレストランはどれもおいしくない。 <br>
      Any and all restaurants that are here are not tasty. <br> <br>

      4. 今週末は、どこにも⾏かなかった。 <br>
      Went nowhere this weekend.
    </p>

    <p>
      (Grammatically, this 「も」is the same as the topic particle 「も」so the target particle 「に」must go
      before the topic particle 「も」in ordering.)
    </p>

    <h3>Question words to mean "any"</h3>

    <h3>Vocabulary</h3>

    <p>
      1. この- this (abbr. of これの) <br>
      2. 質問【しつ・もん】- question <br>
      3. 答え【こた・え】- answer <br>
      4. 分かる【わ・かる】- to understand <br>
      5. 昼ご飯【ひる・ご・はん】- lunch <br>
      6. いい - good <br>
      7. あの - that (over there) (abbr. of あれの) <br>
      8. ⼈【ひと】- person <br>
      9. 本当【ほん・とう】- real <br>
      10. ⾷べる【た・べる】 - to eat
    </p>

    <p>
      The same question words combined with 「でも」can be used to mean "any". One thing to be careful
      about is that 「何でも」is read as 「なんでも」and not 「なにでも」
    </p>

    <h3>Words for "Any"</h3>

    <p>
      誰でも - Anybody <br>
      何でも - Anything <br>
      いつでも - Anytime <br>
      どこでも - Anywhere <br>
      どれでも - Whichever
    </p>

    <h3>Examples</h3>

    <p>
      1. この質問の答えは、誰でも分かる。 <br>
      Anybody understands the answer of this question. <br> <br>

      2. 昼ご飯は、どこでもいいです。 <br>
      About lunch, anywhere is good. <br> <br>

      3. あの⼈は、本当に何でも⾷べる。 <br>
      That person really eats anything.
    </p>
  </div>

  <div>
    <h2>
      Compound Sentences （から、ので、のに、が、けど、し、〜たりする）
    </h2>
    <p>
      In this section, we will learn various ways to combine multiple simple sentences into one complex sentence.
      For example, we will learn how to chain separate sentences together to express multiple actions
      or states. In other words, if we have two simple sentences with the same subject, "I ran" and "I ate",
      we will learn how to group them together to mean, "I ran and ate." We will also learn how to do this with
      adjectives and nouns. (Ex: He is rich, handsome, and charming.)
    </p>

    <h3>Expressing reason or causation using 「から」and 「ので」</h3>
    <h3>Vocabulary</h3>

    <p>
      1. 時間【じ・かん】- time <br>
      2. ある - to exist (inanimate) <br>
      3. パーティー- party <br>
      4. ⾏く【い・く】 - to go <br>
      5. 友達【とも・だち】- friend <br>
      6. プレゼント- present <br>
      7. 来る【く・る】(exception) - to come <br>
      8. ⽥中【た・なか】- Tanaka (last name) <br>
      9. どうして- why <br>
      10. ⼭⽥【や・まだ】- Yamada (last name) <br>
      11. ⼀郎【いち・ろう】- Ichirou (first name) <br>
      12. 直⼦【なお・こ】- Naoko (first name) <br>
      13. ちょっと- a little <br>
      14. 忙しい【いそが・しい】 - busy <br>
      15. そろそろ- gradually; soon <br>
      16. 失礼【しつ・れい】- discourtesy <br>
      17. する(exception) - to do <br>
      18. 学⽣【がく・せい】- student <br>
      19. お⾦【お・かね】- money <br>
      20. ここ- here <br>
      21. 静かだ【しず・かだ】 - quiet <br>
      22. とても- very <br>
      23. 穏やかだ【おだ・やかだ】 - calm, peaceful <br>
      24. 会う【あ・う】 - to meet
    </p>

    <p>
      You can connect two complete sentences using 「から」to indicate a reason for something. The two
      sentences are always ordered [reason] から[result]. When the reason is a non-conjugated noun or naadjective,
      you must add 「だ」to explicitly declare the reason in the form of 「(noun/形容動詞【けい・よう・どう・し】)だか
      ら」. If you forget to add the declarative 「だ」to 「から」, it will end up sounding like the 「から」
      meaning "from" which was first introduced in the section on particles, earlier.
    </p>

    <h3>Examples</h3>

    <p>
      1. 時間がなかったからパーティーに⾏きませんでした。 <br>
      There was no time so didn't go to party. <br> <br>

      2. 友達からプレゼントが来た。 <br>
      Present came from friend. <br> <br>

      3. 友達だからプレゼントが来た。 <br>
      Present came because (the person is) friend. (This sentence sounds a bit odd.)
    </p>
    <p>
      Either the reason or the result can be omitted if it is clear from the context. In the case of polite speech,
      you would treat 「から」just like a regular noun and add 「です」.
    </p>

    <h3>Example 1</h3>

    <p>
      ⽥中さん：どうしてパーティーに⾏きませんでしたか。 <br>
      Tanaka-san: Why didn't you go to the party? <br> <br>

      ⼭⽥さん：時間がなかったからです。 <br>
      Yamada-san: It's because I didn't have time.
    </p>

    <h3>Example 2</h3>

    <p>
      ⼀郎：パーティーに⾏かなかったの？ <br>
      Ichiro: You didn't go to the party? <br> <br>

      直⼦：うん、時間がなかったから。 <br>
      Naoko: Yeah, because I didn't have time.
    </p>

    <h3>Example 3</h3>

    <p>
      When you omit the reason, you must include the declarative 「だ」or 「です」.
    </p>
    <p>
      直⼦：時間がなかった。 <br>
      Naoko: I didn't have time. <br> <br>

      ⼀郎：だからパーティーに⾏かなかったの？ <br>
      Ichiro: Is that why you didn't go to the party?
    </p>

    <p>
      Notice that we could have also used the explanatory 「の」to express the same thing. In other words,
      ⼭⽥さんcould have also said, 「時間がなかったのです」or 「時間がなかったんです」while 直⼦
      could have said 「時間がなかったの」(we'll assume she wants to use the more feminine form). In fact,
      this is where 「ので」possibly came from. Let's say you want to combine two sentences: 「時間がな
      かったのだ」and 「パーティーに⾏かなかった」. Remember we can treat the 「の」just like a noun
      so we can use what we just learned in the first section of this lesson.
    </p>

    <p>
      時間がなかったのだ＋パーティーに⾏かなかった <br>
      becomes: <br>
      時間がなかったのでパーティーに⾏かなかった。 <br>
    </p>

    <p>
      In fact, 「ので」is almost interchangeable with 「から」with a few subtle differences. 「から」
      explicitly states that the sentence preceding is the reason for something while 「ので」is merely putting
      two sentences together, the first with an explanatory tone. This is something I call causation where [X]
      happened, therefore [Y] happened. This is slightly different from 「から」where [Y] happened explicitly
      because [X] happened. This difference tends to make 「ので」sound softer and slightly more polite and
      it is favored over「から」when explaining a reason for doing something that is considered discourteous.
    </p>

    <p>
      • ちょっと忙しいので、そろそろ失礼します。 <br>
      Because I'm a little busy, I'll be making my leave soon.
    </p>

    <p>
      (「失礼します」, which literally means "I'm doing a discourtesy", is commonly used as a polite way to
      make your leave or disturb someone's time.)
    </p>
    <p>
      Reminder: Don't forget that the explanatory 「の」requires a 「な」for both non-conjugated nouns
      and 形容動詞【けい・よう・どう・し】. Review Particles 3 to see why.
    </p>

    <p>
      1. 私は学⽣なので、お⾦がないんです。 <br>
      Because I'm a student, I have no money (lit: there is no money). <br> <br>

      2. ここは静かなので、とても穏やかです。 <br>
      It is very calm here because it is quiet. <br> <br>

      3. なので、友達に会う時間がない。 <br>
      That's why there's no time to meet friend.
    </p>

    <p>
      Just like how the explanatory 「の」can be shortened to 「ん」, in speech, the 「ので」can be
      changed to 「んで」simply because it's easier to slur the sounds together rather than pronouncing the
      / o / syllable.
    </p>

    <p>
      1. 時間がなかったんでパーティーに⾏かなかった。 <br>
      Didn't go to the party because there was no time. <br> <br>

      2. ここは静かなんで、とても穏やかです。 <br>
      It is very calm here because it is quiet. <br> <br>

      3. なんで、友達に会う時間がない。 <br>
      That's why there's no time to meet friend.
    </p>

    <h3>Using 「のに」to mean "despite"</h3>
    <h3>Vocabulary</h3>

    <p>
      1. 毎⽇【まい・にち】- everyday <br>
      2. 運動【うん・どう】- exercise <br>
      3. する(exception) - to do <br>
      4. 全然【ぜん・ぜん】- not at all (when used with negative) <br>
      5. 痩せる【や・せる】 - to become thin <br>
      6. 学⽣【がく・せい】- student <br>
      7. 彼⼥【かの・じょ】- she; girlfriend <br>
      8. 勉強【べん・きょう】- study <br>
    </p>

    <p>
      Grammatically, 「のに」is used exactly the same way as 「ので」. When used to combine two simple
      sentences together, it means "[Sentence 1] despite the fact that [Sentence 2]." However the order is
      reversed: [Sentence 2]のに[Sentence 1].
    </p>

    <h3>Examples</h3>

    <p>
      1. 毎⽇運動したのに、全然痩せなかった。 <br>
      Despite exercising every day, I didn't get thinner. <br> <br>

      2. 学⽣なのに、彼⼥は勉強しない。 <br>
      Despite being a student, she does not study.
    </p>

    <h3>
      Expressing contradiction using 「が」and 「けど」
    </h3>
    <h3>Vocabulary</h3>

    <p>
      1. デパート- department store <br>
      2. ⾏く【い・く】 - to go <br>
      3. 何【なに／なん】- what <br>
      4. 全然【ぜん・ぜん】- not at all (when used with negative) <br>
      5. 欲しい【ほ・しい】 - desirable <br>
      6. 友達【とも・だち】- friend <br>
      7. 聞く【き・く】 - to ask; to listen <br>
      8. 知る【し・る】 - to know <br>
      9. 今⽇【きょう】- today <br>
      10. 暇【ひま】- free (as in not busy) <br>
      11. 明⽇【あした】- tomorrow <br>
      12. 忙しい【いそが・しい】 - busy <br>
      13. 彼【かれ】- he; boyfriend <br>
      14. まだ- yet <br>
      15. 好きだ【す・きだ】 - likable; desirable <br>
      16. いい - good <br>
      17. 物【もの】- object <br>
      18. たくさん- a lot (amount) <br>
      19. ある - to exist (inanimate) <br>
      20. ⾒る【み・る】 - to see <br>
      21. ⾯⽩い【おも・しろ・い】 - interesting
    </p>

    <p>
      Used in the same manner as 「から」and 「ので」, 「が」and 「けど」also connect two sentences
      together but this time to express a contradiction. Just like 「から」the declarative 「だ」is required for
      nouns and 形容動詞【けい・よう・どう・し】. And just like 「から」and 「ので」, either part of the contradiction can be left
      out.
    </p>

    <h3>Examples</h3>

    <p>
      1. デパートに⾏きましたが、何も欲しくなかったです。 <br>
      I went to department store but there was nothing I wanted. <br> <br>

      2. 友達に聞いたけど、知らなかった。 <br>
      I asked (or heard from) a friend but he (or I) didn't know. <br> <br>

      3. 今⽇は暇だけど、明⽇は忙しい。 <br>
      I'm free today but I will be busy tomorrow. <br> <br>

      4. だけど、彼がまだ好きなの。 <br>
      That may be so, but it is that I still like him. [explanation, feminine tone]
    </p>

    <p>
      It may seem odd but 「聞く」can either mean "to listen" or "to ask". You may think this may become
      confusing but the meaning is usually clear within context. In the second example, we're assuming that
      the friend didn't know, so the speaker was probably asking the friend. Yet again we see the importance
      of context in Japanese because this sentence can also mean, "I heard from a friend but I didn't know"
      since there is neither subject nor topic.
    </p>

    <p>
      Similar to the difference between 「から」and 「ので」, 「が」has a softer tone and is slightly more
      polite than 「けど」. Though this isn't a rule as such, it is generally common to see 「が」attached to a
      「〜ます」or 「〜です」ending and 「けど」attached to a regular, plain ending. A more formal version
      of 「けど」is 「けれど」and even more formal is 「けれども」, which we may see later when we cover
      formal expressions.
    </p>

    <p>
      Unlike the English word for contradiction such as "but" or "however", 「けど」and 「が」do not
      always express a direct contradiction. Often times, especially when introducing a new topic, it is used
      as a general connector of two separate sentences. For example, in the following sentences, there is no
      actual contradiction but 「が」and 「けど」are used simply to connect the sentences. Sometimes, the
      English "and" becomes a closer translation than "but".
    </p>

    <p>
      1. デパートに⾏きましたが、いい物がたくさんありました。 <br>
      I went to the department store and there was a lot of good stuff. <br> <br>

      2. マトリックスを⾒たけど、⾯⽩かった。 <br>
      I watched the "Matrix" and it was interesting.
    </p>

    <h3>Expressing multiple reasons using 「し」</h3>
    <h3>Vocabulary</h3>

    <p>
      1. どうして- why <br>
      2. 友達【とも・だち】- friend <br>
      3. 先⽣【せん・せい】- teacher <br>
      4. 年上【とし・うえ】- older <br>
      5. 彼【かれ】- he; boyfriend <br>
      6. 好き【す・き】 - likable <br>
      7. 優しい【やさ・しい】 - gentle, kind <br>
      8. かっこいい - cool; handsome <br>
      9. ⾯⽩い【おも・し・ろい】 - interesting
    </p>

    <p>
      When you want to list reasons for multiple states or actions you can do so by adding 「し」to the end
      of each relative clause. It is very similar to the 「や」particle except that it lists reasons for verbs and
      state-of-being. Again, for states of being, 「だ」must be used to explicitly declare the state-of-being for
      any non-conjugated noun or 形容動詞【けい・よう・どう・し】. Let's look at some examples.
    </p>

    <h3>Example 1</h3>

    <p>
      Ａ：どうして友達じゃないんですか？ <br>
      A: Why isn't (he/she) friend [seeking explanation]? <br> <br>

      Ｂ：先⽣だし、年上だし・・・。 <br>
      B: Well, he's/she's the teacher, and older...
    </p>

    <h3>Example 2</h3>

    <p>
      Ａ：どうして彼が好きなの？ <br>
      A: Why (do you) like him? <br> <br>

      Ｂ：優しいし、かっこいいし、⾯⽩いから。 <br>
      B: Because he's kind, attractive, and interesting (among other things).
    </p>

    <p>
      Notice that 「優しくて、かっこよくて、⾯⽩いから。」could also have worked but much like the
      difference between the 「と」and 「や」particle, 「し」implies that there may be other reasons.
    </p>

    <h3>
      Expressing multiple actions or states using 「〜たりする」
    </h3>
    <h3>Vocabulary</h3>

    <p>
      1. する(exception) - to do <br>
      2. ⾷べる【た・べる】 - to eat <br>
      3. 飲む【の・む】 - to drink <br>
      4. 簡単【かん・たん】 - simple <br>
      5. 難しい【むずか・しい】 - difficult <br>
      6. 映画【えい・が】- movie <br>
      7. ⾒る【み・る】 - to see <br>
      8. 本【ほん】- book <br>
      9. 読む【よ・む】 - to read <br>
      10. 昼寝【ひる・ね】- afternoon nap <br>
      11. この- this (abbr. of これの) <br>
      12. ⼤学【だい・がく】- college <br>
      13. 授業【じゅ・ぎょう】- class
    </p>

    <p>
      This is the verb version of the 「や」particle. You can make an example list of verbs among a possible
      larger list by conjugating each verb into the past tense and adding 「り」. At the end, you need to attach
      the verb 「する」. Just like the 「や」particle, the tense is determined by the last verb, which in this
      case will always be 「する」(since you have to attach it at the end).
    </p>
    <p>
      You can also use this with the state-of-being to say that you are a number of things at various random
      times among a larger list. Similar to regular verbs, you just take the noun or adjective for each state-ofbeing
      and conjugate it to the past state-of-being and then attach 「り」. Then finally, attach 「する」at
      the end.
    </p>

    <p>
      • For verbs: Conjugate each verb to the past tense and add 「り」. Finally, add 「する」at the
      very end.
    </p>
    <h3>Example</h3>

    <p>
      ⾷べる、飲む → ⾷べた、飲んだ → ⾷べたり、飲んだり → ⾷べたり、飲んだりする
      • For state-of-being: Conjugate the noun or adjective for each state-of-being to the past tense and
      add 「り」. Finally, add 「する」at the very end.
    </p>
    <h3>Example</h3>
    <p>
      簡単、難しい → 簡単だった、難しかった → 簡単だったり、難しかったり → 簡単だったり、難しかったりする
    </p>

    <p>
      1. 映画を⾒たり、本を読んだり、昼寝したりする。 <br>
      I do things like (among other things) watch movies, read books, and take naps. <br> <br>

      2. この⼤学の授業は簡単だったり、難しかったりする。 <br>
      Class of this college is sometimes easy, sometimes difficult (and other times something else maybe).
    </p>
    <p>
      As you can see, the tense and negative/positive state is controlled by the last 「する」.
    </p>
    <p>
      1. 映画を⾒たり、本を読んだりした。 <br>
      I did things like (among other things) watch movies, and read books. <br> <br>

      2. 映画を⾒たり、本を読んだりしない。 <br>
      I don't do things like (among other things) watch movies, and read books. <br> <br>

      3. 映画を⾒たり、本を読んだりしなかった。 <br>
      I didn't do things like (among other things) watch movies, and read books.
    </p>
  </div>


  <div>
    <h2>Uses of the て-form （〜ている、〜てある、〜ておく、〜ていく、〜てくる）</h2>
    <p>
      The て-form is incredibly useful as it is used widely in many different types of grammatical expressions.
      We will learn about enduring states with the 「〜ている」and 「〜てある」form. Even though we have
      learned various conjugations for verbs, they have all been one-time actions. We will now go over how
      one would say, for example, "I am running." We will also learn how to perform an action for the future
      using the 「〜ておく」expression and to express directions of actions using 「〜ていく」and 「〜て
      くる」.
    </p>

    <h3>Using 「〜ている」for enduring states</h3>
    <h3>Vocabulary</h3>

    <p>
      1. ⾷べる【た・べる】 - to eat <br>
      2. 読む【よ・む】 - to read <br>
      3. 友達【とも・だち】- friend <br>
      4. 何【なに】- what <br>
      5. する(exception) - to do <br>
      6. 昼ご飯【ひる・ご・はん】- lunch <br>
      7. 教科書【きょう・か・しょ】- textbook <br>
      8. 話【はなし】- story <br>
      9. 聞く【き・く】 - to ask; to listen <br>
      10. ううん- casual word for "no" (nah, uh-uh)
    </p>

    <p>
      We already know how to express a state-of-being using 「です」, 「だ」, etc. However, it only indicates
      a one-time thing; you are something or not. This grammar, however, describes a continuing state of an
      action verb. This usually translates to the progressive form in English except for a few exceptions, which
      we will examine later.
    </p>
    <p>
      We can make good use of the て-form we learned in the last section because the
      only thing left to do is add 「いる」! You can then treat the result as a regular 一段動詞【いち・だん・どう・し】.
      This 「いる」is the same 一段動詞【いち・だん・どう・し】 describing existence, first described in the negative verb section.
      However, in this case, you don't have to worry about whether the subject is animate or inanimate.
    </p>

    <p>
      To describe a continuing action, first conjugate the verb to the て-form and then attach the verb「い
      る」. The entire result conjugates as a 一段動詞【いち・だん・どう・し】.
    </p>

    <h3>Examples</h3>

    <p>
      1. ⾷べる → ⾷べて → ⾷べている <br>
      2. 読む → 読んで → 読んでいる
    </p>

    <p>
      The result conjugates as a 一段動詞【いち・だん・どう・し】 regardless of what the original verb is Positive Negative
    </p>
    <p>
      Non-Past : 読んでいる reading, 読んでいない is not reading <br>
      Past : 読んでいた was reading, 読んでいなかった was not reading
    </p>

    <h3>Using 「〜ている」for enduring states</h3>
    <h3>Example 1</h3>

    <p>
      Ａ：友達は何をしているの？ <br>
      A: What is friend doing? <br> <br>

      Ｂ：昼ご飯を⾷べている。 <br>
      B: (Friend) is eating lunch.
    </p>

    <p>
      Note that once you've changed it into a regular 一段動詞【いち・だん・どう・し】, you can do all the normal conjugations. The
      examples below show the masu-form and plain negative conjugations.
    </p>

    <h3>Example 2</h3>

    <p>
      Ａ：何を読んでいる？ <br>
      A: What are you reading? <br> <br>

      Ｂ：教科書を読んでいます。 <br>
      B: I am reading textbook.
    </p>

    <h3>Example 3</h3>

    <p>
      Ａ：話を聞いていますか。 <br>
      A: Are you listening to me? (lit: Are you listening to story?) <br> <br>

      Ｂ：ううん、聞いていない。 <br>
      B: No, I'm not listening.
    </p>

    <p>
      Since people are usually too lazy to roll their tongues to properly pronounce the 「い」, it is often omitted
      in conversational Japanese. If you are writing an essay or paper, you should always include the 「い」.
      Here are the abbreviated versions of the previous examples.
    </p>

    <h3>Example 4</h3>

    <p>
      Ａ：友達は何をしてるの？ <br>
      A: What is friend doing? <br> <br>

      Ｂ：昼ご飯を⾷べてる。 <br>
      B: (Friend) is eating lunch.
    </p>

    <h3>Example 5</h3>

    <p>
      Ａ：何を読んでる？ <br>
      A: What are you reading? <br> <br>

      Ｂ：教科書を読んでいます。 <br>
      B: I am reading textbook.
    </p>

    <h3>Example 6</h3>

    <p>
      Ａ：話を聞いていますか。 <br>
      A: Are you listening to me? (lit: Are you listening to story?) <br> <br>

      Ｂ：ううん、聞いてない。 <br>
      B: No, I'm not listening.
    </p>

    <p>
      Notice how I left the 「い」alone for the polite forms. Though people certainly omit the 「い」even
      in polite form, you might want to get used to the proper way of saying things first before getting carried
      away with casual abbreviations. You will be amazed at the extensive types of abbreviations that exist in
      casual speech. (You may also be amazed at how long everything gets in super polite speech.) Basically,
      you will get the abbreviations if you just act lazy and slur everything together. Particles also get punted
      off left and right.
    </p>

    <h3>For example:</h3>

    <p>
      1. 何をしているの？(Those particles are such a pain to say all the time...) <br>
      2. 何しているの？(Ugh, I hate having to spell out all the vowels.) <br>
      3. 何してんの？(Ah, perfect.)
    </p>

    <h3>Enduring state-of-being vs enduring state of action</h3>
    <h3>Vocabulary</h3>

    <p>
      1. 知る【し・る】 - to know <br>
      2. 分かる【わ・かる】 - to understand <br>
      3. 今⽇【きょう】- today <br>
      4. この- this (abbr. of これの) <br>
      5. 歌【うた】- song <br>
      6. 道【みち】- road <br>
      7. はい- yes (polite)
    </p>

    <p>
      There are certain cases where an enduring state doesn't translate into the progressive form. In fact, there
      is an ambiguity in whether one is in a state of doing an action versus being in a state that resulted from
      some action. This is usually decided by context and common practices. For example, although 「結婚
      している」can technically mean someone is in a chapel currently getting married, it is usually used to
      refer to someone who is already married and is currently in that married state. We'll now discuss some
      common verbs that often cause this type of confusion for learners of Japanese.
    </p>

    <h3>「知る」</h3>

    <p>
      「知る」means "to know". English is weird in that "know" is supposed to be a verb but is actually
      describing a state of having knowledge. Japanese is more consistent and 「知る」is just a regular
      action verb. In other words, I "knowed" (action) something and so now I know it (state). That's why the
      English word "to know" is really a continuing state in Japanese, namely: 「知っている」.
    </p>

    <h3>「知る」vs 「分かる」</h3>

    <p>
      「分かる」meaning "to understand" may seem similar to 「知る」in some cases. However, there is a
      difference between "knowing" and "understanding". Try not to confuse 「知っている」with 「分かって
      いる」. 「分かっている」means that you are already in a state of understanding, in other words, you
      already get it. If you misuse this, you may sound pompous. ("Yeah, yeah, I got it already.") On the other
      hand, 「知っている」simply means you know something.
    </p>

    <h3>Examples</h3>

    <p>
      1. 今⽇、知りました。 <br>
      I found out about it today. (I did the action of knowing today.) <br> <br>

      2. この歌を知っていますか？ <br>
      Do (you) know this song? <br> <br>

      3. 道は分かりますか。 <br>
      Do you know the way? (lit: Do (you) understand the road?) <br> <br>

      4. はい、はい、分かった、分かった。 <br>
      Yes, yes, I got it, I got it.
    </p>

    <h3> Motion Verbs (⾏く、来る、etc.)</h3>

    <h3>Vocabulary</h3>
    <p>
      1. 鈴⽊【すず・き】- Suzuki (last name) <br>
      2. どこ- where <br>
      3. もう- already <br>
      4. 家【1) うち; 2) いえ】- 1) one's own home; 2) house <br>
      5. 帰る【かえ・る】 - to go home <br>
      6. 先【さき】- before <br>
      7. ⾏く【い・く】 - to go <br>
      8. 美恵【み・え】- Mie (first name) <br>
      9. 来る【く・る】(exception) - to come
    </p>

    <p>
      It is reasonable to assume the actions 「⾏っている」and 「来ている」would mean, "going" and
      "coming" respectively. But unfortunately, this is not the case. The 「〜ている」form of motion verbs is
      more like a sequence of actions we saw in the last section. You completed the motion, and now you exist
      in that state. (Remember, 「いる」is the verb of existence of animate objects.) It might help to think of
      it as two separate and successive actions: 「⾏って」、and then 「いる」.
    </p>

    <h3>Examples</h3>

    <p>
      1. 鈴⽊さんはどこですか。 <br>
      Where is Suzuki-san? <br> <br>

      2. もう、家に帰っている。 <br>
      He is already at home (went home and is there now). <br> <br>

      3. 先に⾏っているよ。 <br>
      I'll go on ahead. (I'll go and be there before you.) <br> <br>

      4. 美恵ちゃんは、もう来ているよ。 <br>
      Mie-chan is already here, you know. (She came and is here.)
    </p>

    <h3>Using 「〜てある」for resultant states</h3>

    <h3>Vocabulary</h3>

    <p>
      1. 準備【じゅん・び】- preparations <br>
      2. どう- how <br>
      3. もう- already <br>
      4. する(exception) - to do <br>
      5. ある - to exist (inanimate) <br>
      6. 旅⾏【りょ・こう】- travel <br>
      7. 計画【けい・かく】- plans <br>
      8. 終わる【お・わる】 - to end <br>
      9. うん- casual word for "yes" (yeah, uh-huh) <br>
      10. 切符【きっ・ぷ】- ticket <br>
      11. 買う【か・う】 - to buy <br>
      12. ホテル- hotel <br>
      13. 予約【よ・やく】- reservation
    </p>

    <p>
      Appropriately enough, just like there is an 「ある」to go with 「いる」, there is a 「〜てある」form
      that also has a special meaning. By replacing 「いる」with 「ある」, instead of a continuing action,
      it becomes a resultant state after the action has already taken place. Usually, this expression is used to
      explain that something is in a state of completion. The completed action also carries a nuance of being
      completed in preparation for something else.
    </p>

    <p>
      Since this grammar describes the state of a completed action, it is common to see the 「は」and 「も」
      particles instead of the 「を」particle.
    </p>

    <h3>Example 1</h3>

    <p>
      Ａ：準備はどうですか。 <br>
      A: How are the preparations? <br> <br>

      Ｂ：準備は、もうしてあるよ。 <br>
      B: The preparations are already done.
    </p>

    <h3>Example 2</h3>

    <p>
      Ａ：旅⾏の計画は終わった？ <br>
      A: Are the plans for the trip complete? <br> <br>

      Ｂ：うん、切符を買ったし、ホテルの予約もしてある。 <br>
      B: Uh huh, not only did I buy the ticket, I also took care of the hotel reservations.
    </p>

    <h3>Using the 「〜ておく」form as preparation for the future</h3>

    <h3>Vocabulary</h3>

    <p>
      1. 晩ご飯【ばん・ご・はん】- dinner <br>
      2. 作る【つく・る】 - to make <br>
      3. 電池【でん・ち】- battery <br>
      4. 買う【か・う】 - to buy
    </p>

    <p>
      While 「〜てある」carries a nuance of a completed action in preparation for something else, 「〜てお
      く」explicitly states that the action is done (or will be done) with the future in mind. Imagine this: you
      have made a delicious pie and you're going to place it on the window sill for it to cool so that you can
      eat it later.
    </p>

    <p>
      This image might help explain why the verb 「おく」(置く), meaning "to place", can be
      used to describe a preparation for the future. (It's just too bad that pies on window sills always seem to
      go through some kind of mishap especially in cartoons.) While 「置く」by itself is written in kanji, it is
      customary to use hiragana when it comes attached to a conjugated verb (such as the て-form).
    </p>

    <h3>Examples</h3>

    <p>
      1. 晩ご飯を作っておく。 <br>
      Make dinner (in advance for the future). <br> <br>

      2. 電池を買っておきます。 <br>
      I'll buy batteries (in advance for the future).
    </p>

    <p>
      「ておく」is also sometimes abbreviated to 「〜とく」for convenience.
    </p>

    <p>
      1. 晩ご飯を作っとく。 <br>
      Make dinner (in advance for the future). <br> <br>

      2. 電池を買っときます。 <br>
      I'll buy batteries (in advance for the future).
    </p>

    <h3>Using motion verbs (⾏く、来る) with the て-form</h3>

    <h3>Vocabulary</h3>

    <p>
      1. えんぴつ- pencil <br>
      2. 持つ【も・つ】 - to hold <br>
      3. いる - to exist (animate) <br>
      4. 学校【がっ・こう】- school <br>
      5. ⾏く【い・く】 - to go <br>
      6. 家【1) うち; 2) いえ】- 1) one's own home; 2) house <br>
      7. 来る【く・る】(exception) - to come <br>
      8. お⽗さん【お・とう・さん】- father (polite) <br>
      9. 早い【はや・い】 - fast; early <br>
      10. 帰る【かえ・る】 - to go home <br>
      11. 駅【えき】- station <br>
      12. ⽅【ほう】- direction, way <br>
      13. ⾛る【はし・る】 - to run <br>
      14. 冬【ふゆ】- winter <br>
      15. ⼊る【はい・る】 - to enter <br>
      16. コート- coat <br>
      17. 着る【き・る】 - to wear <br>
      18. 増える【ふ・える】 - to increase <br>
      19. ⼀⽣懸命【いっ・しょう・けん・めい】- with all one's might <br>
      20. 頑張る【がん・ば・る】 - to try one's best <br>
      21. ⾊々【いろ・いろ】 - various <br>
      22. ⼈【ひと】- person <br>
      23. 付き合う【つ・き・あ・う】 - to go out with; to keep in company with <br>
      24. いい - good <br>
      25. まだ- yet <br>
      26. ⾒つかる【み・つかる】 - to be found <br>
      27. ⽇本語【に・ほん・ご】- Japanese (language) <br>
      28. ずっと- long; far <br>
      29. 前【まえ】- front; before <br>
      30. 勉強【べん・きょう】- study <br>
      31. する(exception) - to do <br>
      32. 結局【けっ・きょく】- eventually <br>
      33. やめる - to stop; to quit
    </p>

    <p>
      You can also use the motion verbs "to go" (⾏く)and "to come" (来る) with the て-form, to show that an
      action is oriented toward or from someplace. The most common and useful example of this is the verb
      「持つ」(to hold). While「持っている」means you are in a state of holding something (in possession of),
      when the 「いる」is replaced with 「いく」or 「くる」, it means you are taking or bringing something.
      Of course, the conjugation is the same as the regular 「⾏く」and 「来る」.
    </p>

    <h3>Examples</h3>

    <p>
      1. えんぴつを持っている？ <br>
      Do (you) have a pencil? <br> <br>

      2. 鉛筆を学校へ持っていく？ <br>
      Are (you) taking pencil to school? <br> <br>

      3. 鉛筆を家に持ってくる？ <br>
      Are (you) bringing pencil to home?
    </p>

    <p>
      For these examples, it may make more sense to think of them as a sequence of actions: hold and go, or
      hold and come. Here are a couple more examples.
    </p>

    <p>
      1. お⽗さんは、早く帰ってきました。 <br>
      Father came back home early. <br> <br>

      2. 駅の⽅へ⾛っていった。 <br>
      Went running toward the direction of station.
    </p>

    <p>
      The motion verbs can also be used in time expressions to move forward or come up to the present.
    </p>

    <p>
      1. 冬に⼊って、コートを着ている⼈が増えていきます。 <br>
      Entering winter, people wearing coat will increase (toward the future). <br> <br>

      2. ⼀⽣懸命、頑張っていく！ <br>
      Will try my hardest (toward the future) with all my might! <br> <br>

      3. ⾊々な⼈と付き合ってきたけど、いい⼈はまだ⾒つからない。 <br>
      Went out (up to the present) with various types of people but a good person hasn't been found yet. <br> <br>

      4. ⽇本語をずっと前から勉強してきて、結局はやめた。 <br>
      Studied Japanese from way back before and eventually quit.
    </p>
  </div>
  <div>
    <h2>Using するand なるwith the にparticle （〜[よう]になる／する）</h2>
    <p>
      We can use the verbs 「する」and 「なる」in conjunction with the 「に」particle to make various
      useful expressions. We are used to using the object particle with 「する」because something is usually
      done to something else. We will see how the meaning changes when we change the particle to 「に」.
    </p>
    <p>
      As for 「なる」, it is always used with the 「に」particle because "becoming" is not an action done to
      something else but rather a target of change. The only grammatical point of interest here is using 「な
      る」with 形容詞【けい・よう・し】 and verbs.
    </p>
    <h3>Using 「なる」and 「する」for nouns and 形容動詞【けい・よう・どう・し】</h3>

    <h3>Vocabulary</h3>
    <p>
      1. 彼【かれ】- he; boyfriend <br>
      2. ⽇本語【に・ほん・ご】- Japanese (language) <br>
      3. 上⼿【じょう・ず】 - skillful <br>
      4. なる - to become <br>
      5. 私【わたし】- me, myself, I <br>
      6. 医者【い・しゃ】- doctor <br>
      7. 有名【ゆう・めい】 - famous <br>
      8. ⼈【ひと】- person <br>
      9. ハンバーガー- hamburger <br>
      10. サラダ- salad <br>
      11. する(exception) - to do <br>
      12. 他【ほか】- other <br>
      13. いい - good <br>
      14. 物【もの】- object <br>
      15. たくさん- a lot (amount) <br>
      16. ある - to exist (inanimate) <br>
      17. やはり／やっぱり- as I thought <br>
      18. これ- this
    </p>
    <p>
      As already explained, using 「なる」with nouns and 形容動詞【けい・よう・どう・し】 presents nothing new and acts pretty
      much the way you'd expect.
    </p>

    <p>
      1. 彼の⽇本語が上⼿になった。 <br>
      His Japanese has become skillful. <br> <br>

      2. 私は医者になった。 <br>
      I became a doctor. <br> <br>

      3. 私は有名な⼈になる。 <br>
      I will become a famous person.
    </p>

    <p>
      For adjectives, using the verb 「する」with the 「に」particle is just a review back to the lesson on
      adverbs. However, for nouns, when you use the verb 「する」with the 「に」particle, it means that you
      are going to do things toward something. This changes the meaning of 「する」to mean, "to decide on
      [X]". This is a common expression to use, for instance, when you are ordering items on a menu.
    </p>

    <p>
      1. 私は、ハンバーガーとサラダにします。 <br>
      I'll have the hamburger and salad. (lit: I'll do toward hamburger and salad.) <br> <br>

      2. 他にいいものがたくさんあるけど、やっぱりこれにする。 <br>
      There are a lot of other good things, but as I thought, I'll go with this one. <br> <br>
    </p>
    <p>
      If you think this expression is strange, think about the English expression, "I'll go with the hamburger."
      Exactly where are you going with the hamburger?
    </p>

    <h3>Using 「なる」with 形容詞【けい・よう・し】</h3>
    <h3>Vocabulary</h3>

    <p>
      1. 去年【きょ・ねん】- last year <br>
      2. 〜から(particle) - from 〜 <br>
      3. 背【せ】- height <br>
      4. ⾼い【たか・い】 - high; tall; expensive <br>
      5. なる - to become <br>
      6. 運動【うん・どう】- exercise <br>
      7. する(exception) - to do <br>
      8. 〜から(particle) - 〜so <br>
      9. 強い【つよ・い】 - strong <br>
      10. 勉強【べん・きょう】- study <br>
      11. たくさん- a lot (amount) <br>
      12. 頭【あたま】- head <br>
      13. いい - good
    </p>

    <p>
      Because the 「に」particle is a target particle that is used for nouns and by extension 形容動詞【けい・よう・どう・し】,
      we need to use something else to show that something is becoming an 形容詞【けい・よう・し】. Since "becoming"
      expresses a change in state, it makes sense to describe this process using an adverb. In fact, you'll notice
      that we were already using adverbs (of a sort) in the previous section by using 「に」with 形容動詞【けい・よう・どう・し】.
    </p>

    <p>
      1. 去年から背が⾼くなったね。 <br>
      Your height has gotten taller from last year, huh? <br> <br>

      2. 運動しているから、強くなる。 <br>
      I will become stronger because I am exercising. <br> <br>

      3. 勉強をたくさんしたから、頭がよくなった。 <br>
      Since I studied a lot, I became smarter. (lit: head became better)
    </p>

    <h3>Using 「なる」and 「する」with verbs</h3>
    <h3>Vocabulary</h3>

    <p>
      1. 海外【かい・がい】- overseas <br>
      2. ⾏く【い・く】 - to go <br>
      3. こと- event, matter <br>
      4. なる - to become <br>
      5. 毎⽇【まい・にち】- everyday <br>
      6. ⾁【にく】- meat <br>
      7. ⾷べる【た・べる】 - to eat <br>
      8. する(exception) - to do <br>
      9. ⽇本【に・ほん】- Japan <br>
      10. 来る【く・る】(exception) - to come <br>
      11. 寿司【すし】- sushi <br>
      12. ⼀年間【いち・ねん・かん】- span of 1 year <br>
      13. 練習【れん・しゅう】- practice <br>
      14. ピアノ- piano <br>
      15. 弾く【ひ・く】 - to play (piano, guitar) <br>
      16. 地下【ち・か】- underground <br>
      17. ⼊る【はい・る】 - to enter <br>
      18. 富⼠⼭【ふ・じ・さん】- Mt. Fuji <br>
      19. ⾒える【み・える】 - to be visible
    </p>

    <p>
      You may be wondering how to use 「なる」and 「する」with verbs since there's no way to directly
      modify a verb with another verb. The simple solution is to add a generic noun such as a generic event:
      こと(事) or an appearance/manner: よう(様). These nouns don't refer to anything specific and are used
      to describe something else. In this case, they allow us to describe verbs in the same manner as nouns.
    </p>
    <p>
      Here are some examples of how to use these generic nouns with 「する」and 「なる」.
    </p>
    <p>
      1. 海外に⾏くことになった。 <br>
      It's been decided that I will go abroad. (lit: It became the event of going abroad.) <br> <br>

      2. 毎⽇、⾁を⾷べるようになった。 <br>
      It became so that I eat meat everyday. (lit: It became the appearance of eating meat everyday.) <br> <br>

      3. 海外に⾏くことにした。 <br>
      I decided I will go abroad. (lit: I did toward the event of going abroad.) <br> <br>

      4. 毎⽇、⾁を⾷べるようにする。 <br>
      I will try to eat meat everyday. (lit: I will do toward the manner of eating meat everyday.)
    </p>


    <p>
      You can modify a verb with「なる」or「する」by first making it into a noun clause and then treating it just
      like a regular noun. Pretty clever, huh? I hope the literal translations give you a sense of why the example
      sentences mean what they do. For instance, in the fourth example, 「〜ようにする」translates into "to
      make an effort toward..." but in Japanese, it's really only a target towards acting in a certain manner.
    </p>
    <p>
      Since potential verbs describe a state of feasibility rather than an action (remember, that's why the 「を」
      particle couldn't be used), it is often used in conjunction with 「〜ようになる」to describe a change in
      manner to a state of feasibility. Let's take this opportunity to get some potential conjugation practice in.
    </p>

    <p>
      1. ⽇本に来て、寿司が⾷べられるようになった。 <br>
      After coming to Japan, I became able to eat sushi. <br> <br>

      2. ⼀年間練習したから、ピアノが弾けるようになった。 <br>
      Because I practiced for one year, I became able to play the piano. <br> <br>

      3. 地下に⼊って、富⼠⼭が⾒えなくなった。 <br>
      After going underground, Fuji-san became not visible.
    </p>

  </div>

  <div>
    <h2>Giving and Receiving （あげる、やる、くれる、もらう）</h2>
    <h3>Japanese people like gifts</h3>

    <h3>Vocabulary</h3>
    <p>
      1. お歳暮【お・せい・ぼ】- year-end presents <br>
      2. お中元【お・ちゅう・げん】- Bon festival gifts <br>
      3. あげる - to give; to raise <br>
      4. くれる - to give <br>
      5. もらう - to receive
    </p>
    <p>
      One thing about Japanese culture is that they're big on giving gifts. There are many different customs
      involving giving and receiving gifts (お歳暮、お中元、etc.) and when Japanese people go traveling, you
      can be sure that they're going to be picking up souvenirs to take back as gifts. Even when attending
      marriages or funerals, people are expected to give a certain amount of money as a gift to help fund the
      ceremony. You can see why properly learning how to express the giving and receiving of favors and items
      is a very important and useful skill. For some reason, the proper use of 「あげる」、「くれる」、and
      「もらう」has always haunted people studying Japanese as being horribly complex and intractable. I
      hope to prove in this section that it is conceptually quite straightforward and simple.
    </p>

    <h3>When to use 「あげる」</h3>
    <h3>Vocabulary</h3>

    <p>
      1. あげる - to give; to raise <br>
      2. 私【わたし】- me, myself, I <br>
      3. 友達【とも・だち】- friend <br>
      4. プレゼント- present <br>
      5. これ- this <br>
      6. 先⽣【せん・せい】- teacher <br>
      7. ⾞【くるま】- car <br>
      8. 買う【か・う】 - to buy <br>
      9. 代わり【か・わり】- substitute <br>
      10. ⾏く【い・く】 - to go <br>
      11. 学⽣【がく・せい】- student <br>
      12. ⽗【ちち】- father <br>
      13. いい - good <br>
      14. こと- event, matter <br>
      15. 教える【おし・える】 - to teach; to inform
    </p>

    <p>
      「あげる」is the Japanese word for "to give" seen from the speaker's point of view. You must use this
      verb when you are giving something or doing something for someone else.
    </p>
    <h3>Examples</h3>
    <p>
      1. 私が友達にプレゼントをあげた。 <br>
      I gave present to friend. <br> <br>

      2. これは先⽣にあげる。 <br>
      I'll give this to teacher.
    </p>
    <p>
      In order to express the giving of a favor (verb) you must use the ever useful te-form and then attach 「あ
      げる」. This applies to all the other sections in this lesson as well.
    </p>
    <p>
      1. ⾞を買ってあげるよ。 <br>
      I'll give you the favor of buying a car. <br> <br>

      2. 代わりに⾏ってあげる。 <br>
      I'll give you the favor of going in your place.
    </p>
    <p>
      For third-person, this verb is used when the speaker is looking at it from the giver's point of view. We'll
      see the significance of this when we examine the verb 「くれる」next.
    </p>
    <p>
      1. 学⽣がこれを先⽣にあげる。 <br>
      The student give this to teacher. (looking at it from the student's point of view) <br> <br>

      2. 友達が⽗にいいことを教えてあげた。 <br>
      Friend gave the favor of teaching something good to my dad. (looking at it from the friend's point
      of view)
    </p>

    <h3>
      Using 「やる」to mean 「あげる」
    </h3>
    <h3>Vocabulary</h3>
    <p>
      1. ⽝【いぬ】- dog <br>
      2. 餌【えさ】- food for animals <br>
      3. やる - to do
    </p>
    <p>
      Usually used for pets, animals, and such, you can substitute 「やる」, which normally means "to do", for
      「あげる」. You would normally never use this type of 「やる」for people. I only included this so that
      you won't be confused by sentences like the following.
    </p>
    <p>
      • ⽝に餌をやった？ <br>
      Did you give the dog food?
    </p>
    <p>
      Here, 「やる」does not mean "to do" but "to give". You can tell because "doing food to dog" doesn't
      make any sense.
    </p>
    <h3>When to use 「くれる」</h3>
    <h3>Vocabulary</h3>
    <p>
      1. くれる - to give <br>
      2. 友達【とも・だち】- friend <br>
      3. 私【わたし】- me, myself, I <br>
      4. プレゼント- present <br>
      5. これ- this <br>
      6. 先⽣【せん・せい】- teacher <br>
      7. ⾞【くるま】- car <br>
      8. 買う【か・う】 - to buy <br>
      9. 代わり【か・わり】- substitute <br>
      10. ⾏く【い・く】 - to go <br>
      11. 学⽣【がく・せい】- student <br>
      12. ⽗【ちち】- father <br>
      13. いい - good <br>
      14. こと- event, matter <br>
      15. 教える【おし・える】 - to teach; to inform <br>
      16. あげる - to give; to raise <br>
      17. 全部【ぜん・ぶ】- everything <br>
      18. ⾷べる【た・べる】 - to eat
    </p>
    <p>
      「くれる」is also a verb meaning "to give" but unlike 「あげる」, it is from the receiver's point of view.
      You must use this verb when someone else is giving something or doing something for you (effectively
      the opposite of 「あげる」).
    </p>
    <h3>Examples</h3>
    <p>
      1. 友達が私にプレゼントをくれた。 <br>
      Friend gave present to me. <br> <br>

      2. これは、先⽣がくれた。 <br>
      Teacher gave this to me. <br> <br>

      3. ⾞を買ってくれるの？ <br>
      You'll give me the favor of buying a car for me? <br> <br>

      4. 代わりに⾏ってくれる？ <br>
      Will you give me the favor of going in my place?
    </p>
    <p>
      Similarly, when used in the third-person, the speaker is speaking from the receiver's point of view and
      not the giver.
    </p>

    <p>
      1. 先⽣がこれを学⽣にくれる。 <br>
      The teacher give this to student. (looking at it from the student's point of view) <br> <br>

      2. 友達が⽗にいいことを教えてくれた。 <br>
      Friend gave favor of teaching something good to my dad. (looking at it from the dad's point of view)
    </p>

    <p>
      The following diagram illustrates the direction of giving from the point of view of the speaker.
      From the speaker's point of view, all the giving done to others "go up" to everybody else while the giving
      done by everybody else "goes down" to the speaker. This is probably related to the fact that there is an
      identical verb 「上げる」meaning "to raise" that contains the character for "above" (上) and that the
      honorific version of 「くれる」is 「下さる」with the character for down (下). This restriction allows us
      to make certain deductions from vague sentences like the following:
    </p>

    <p>
      • 先⽣が教えてあげるんですか。
    </p>
    <p>
      Teacher, will you be the one to give favor of teaching to... [anybody other than the speaker]?
      Because all giving done to the speaker must always use 「くれる」, we know that the teacher must be
      doing it for someone else and not the speaker. The speaker is also looking at it from the teacher's point
      of view as doing a favor for someone else.
    </p>
    <p>
      • 先⽣が教えてくれるんですか。
    </p>
    <p>
      Teacher, will you be the one to give favor of teaching to... [anybody including the speaker]?
      Because the giver is not the speaker, the teacher is either giving to the speaker or anyone else. The
      speaker is viewing it from the receiver's point of view as receiving a favor done by the teacher.
    </p>
    <p>
      Let's see some mistakes to watch out for.
    </p>
    <p>
      • 私が全部⾷べてくれました。 <br>
      「くれる」is being used as giving done by the speaker. (Wrong) <br> <br>

      • 私が全部⾷べてあげました。 <br>
      I gave favor of eating it all. (Correct) <br> <br>

      • 友達がプレゼントを私にあげた。 <br>
      「あげる」is being used as giving to the speaker. (Wrong) <br> <br>
      • 友達がプレゼントを私にくれた。- Friend gave present to me. (Correct)
    </p>

    <h3>When to use 「もらう」</h3>
    <h3>Vocabulary</h3>
    <p>
      1. 私【わたし】- me, myself, I <br>
      2. 友達【とも・だち】- friend <br>
      3. プレゼント- present <br>
      4. もらう - to receive <br>
      5. これ- this <br>
      6. 買う【か・う】 - to buy <br>
      7. 宿題【しゅく・だい】- homework <br>
      8. チェック- check <br>
      9. する(exception) - to do <br>
      10. 時間【じ・かん】- time <br>
      11. ある - to exist (inanimate) <br>
      12. 無理【む・り】- impossible <br>
      13. その- that (abbr. of それの) <br>
      14. 時計【と・けい】- watch, clock
    </p>

    <p>
      「もらう」meaning, "to receive" has only one version unlike 「あげる／くれる」so there's very little
      to explain. One thing to point out is that since you receive from someone, 「から」is also appropriate
      in addition to the 「に」target particle.
    </p>
    <h3>Examples</h3>

    <p>
      1. 私が友達にプレゼントをもらった。 <br>
      I received present from friend. <br> <br>

      2. 友達からプレゼントをもらった。 <br>
      I received present from friend. <br> <br>

      3. これは友達に買ってもらった。 <br>
      About this, received the favor of buying it from friend. <br> <br>

      4. 宿題をチェックしてもらいたかったけど、時間がなくて無理だった。 <br>
      I wanted to receive the favor of checking homework but there was no time and it was impossible.
    </p>
    <p>
      「もらう」is seen from the perspective of the receiver, so in the case of first-person, others usually don't
      receive things from you. However, you might want to use「私からもらう」when you want to emphasive
      that fact that the other person received it from you. For instance, if you wanted to say, "Hey, I gave you
      that!" you would use 「あげる」. However, you would use 「もらう」if you wanted to say, "Hey, you
      got that from me!"
    </p>
    <p>
      • その時計は私からもらったのよ。 <br>
      (He) received that watch from me.
    </p>

    <h3>Asking favors with 「くれる」or 「もらえる」</h3>
    <h3>Vocabulary</h3>

    <p>
      1. 千円【せん・えん】- 1,000 yen <br>
      2. 貸す【か・す】 - lend <br>
      3. する(exception) - to do <br>
      4. くれる - to give <br>
      5. もらう - to receive <br>
      6. あなた- you <br>
      7. 私【わたし】- me; myself; I <br>
      8. ちょっと- a little <br>
      9. 静かだ【しず・かだ】 - quiet <br>
      10. 漢字【かん・じ】- Kanji <br>
      11. 書く【か・く】 - to write
    </p>
    <p>
      You can make requests by using 「くれる」and the potential form of 「もらう」(can I receive the favor
      of...). We've already seen an example of this in example 4 of the 「くれる」section. Because requests
      are favors done for the speaker, you cannot use 「あげる」in this situation.
    </p>
    <h3>Examples</h3>
    <p>
      1. 千円を貸してくれる？ <br>
      Will you give me the favor of lending 1000 yen? <br> <br>

      2. 千円を貸してもらえる？ <br>
      Can I receive the favor of you lending 1000 yen?
    </p>
    <p>
      Notice that the two sentences essentially mean the same thing. This is because the giver and receiver
      has been omitted because it is obvious from the context. If we were to write out the full sentence, it would
      look like this:
    </p>
    <p>
      1. あなたが、私に千円を貸してくれる？ <br>
      Will you give me the favor of lending 1000 yen? <br> <br>

      2. 私が、あなたに千円を貸してもらえる？ <br>
      Can I receive the favor of you lending 1000 yen?
    </p>
    <p>
      It is not normal to explicitly include the subject and target like this when directly addressing someone but
      is provided here to illustrate the change of subject and target depending on the verb 「くれる」and 「も
      らえる」.
    </p>
    <p>
      You can use the negative to make the request a little softer. You'll see that this is true in many other types
      of grammar.
    </p>

    <p>
      1. ちょっと静かにしてくれない？ <br>
      Won't you be a little quieter? <br> <br>

      2. 漢字で書いてもらえませんか。 <br>
      Can you write this in kanji for me?
    </p>
    <h3>Asking someone to not do something</h3>
    <h3>Vocabulary</h3>
    <p>
      1. 全部【ぜん・ぶ】- everything <br>
      2. ⾷べる【た・べる】 - to eat <br>
      3. くれる - to give <br>
      4. ⾼い【たか・い】 - high; tall; expensive <br>
      5. 物【もの】- object <br>
      6. 買う【か・う】 - to buy
    </p>
    <p>
      In order to request that someone not do something, you simply attach 「で」to the negative form of the
      verb and proceed as before.
    </p>

    <p>
      1. 全部⾷べないでくれますか。 <br>
      Can you not eat it all? <br> <br>

      2. ⾼い物を買わないでくれる？ <br>
      Can you not buy expensive thing(s)?
    </p>
  </div>
</div>
