<div fxLayout="column" fxLayoutAlign="center center" [@fadeIn]>

  <h2>Essential Grammar</h2>

  <p>
    We have learned the basic foundation of the Japanese language.
    we can now extend that by learning specific grammar for various situations. This section will go over what is
    considered to be essential grammar for basic practical Japanese.
    You will begin to see fewer literal translations in order to emphasize the new grammar now that you (should) have a
    good understanding of the basic fundamental grammar.
  </p>

  <div>
    <h2>The Question Marker （か）</h2>

    <h3>Questions in polite form</h3>
    <h3>Vocabulary</h3>
    <p>
      1. ⽥中【た・なか】- Tanaka (last name) <br>
      2. お⺟さん【お・かあ・さん】- mother (polite) <br>
      3. どこ- where <br>
      4. 鈴⽊【すず・き】- Suzuki (last name) <br>
      5. ⺟【はは】- mother <br>
      6. 買い物【か・い・もの】- shopping <br>
      7. ⾏く【い・く】- to go <br>
      8. イタリア- Italy <br>
      9. 料理【りょう・り】- cooking, cuisine, dish <br>
      10. ⾷べる【た・べる】- to eat <br>
      11. すみません- sorry (polite) <br>
      12. ちょっと- a little <br>
      13. お腹【お・なか】- stomach <br>
      14. いっぱい- full <br>
      15. ごめんなさい- sorry (polite) <br>
      16. ごめん- sorry <br>
    </p>

    <p>
      The question marker is covered here because it is primarily used to clearly indicate a question in polite
      sentences. While it is entirely possible to express a question even in polite form using just intonation, the
      question marker is often attached to the very end of the sentence to indicate a question. The question
      marker is simply the hiragana character「か」and you don't need to add a question mark. For previously
      explained reasons, you must not use the declarative 「だ」with the question marker.
    </p>

    <h3>Example 1</h3>
    <p>
      ⽥中さん：お⺟さんはどこですか。 <br>
      Tanaka-san: Where is (your) mother? <br>
      鈴⽊さん：⺟は買い物に⾏きました。 <br>
      Suzuki-san: (My) mother went shopping.
    </p>

    <h3>Example 2</h3>

    <p>
      キムさん：イタリア料理を⾷べに⾏きませんか。 <br>
      Kim-san: Go to eat Italian food? <br> <br>

      鈴⽊さん：すみません。ちょっと、お腹がいっぱいです。 <br>
      Suzuki-san: Sorry. (My) stomach is a little full.
    </p>
    <p>
      Here the question is actually being used as an invitation just like how in English we say, "Won't you come
      in for a drink?" 「すみません」is a polite way of apologizing. Slightly less formal is 「ごめんなさい」
      while the casual version is simply 「ごめん」.
    </p>

    <h3>Vocabulary</h3>
    <p>
      1. こんな- this sort of <br>
      2. 本当【ほん・とう】- real <br>
      3. ⾷べる【た・べる】- to eat <br>
      4. そんな- that sort of <br>
      5. ある - to exist (inanimate)
    </p>

    <p>
      It makes sense to conclude that the question marker would work in exactly the same way in casual speech
      as it does in polite speech. However, this is not the case. The question marker 「か」is usually not
      used with casual speech to make actual questions. It is often used to consider whether something is
      true or not. Depending on the context and intonation, it can also be used to make rhetorical questions
      or to express sarcasm. It can sound quite rough so you might want to be careful about using 「か」for
      questions in the plain casual form.
    </p>

    <h3>Examples</h3>

    <p>
      1. こんなのを本当に⾷べるか？ <br>
      Do you think [he/she] will really eat this type of thing? <br> <br>

      2. そんなのは、あるかよ！ <br>
      Do I look like I would have something like that?!
    </p>

    <p>
      Instead of 「か」, real questions in casual speech are usually asked with the explanatory のparticle or
      nothing at all except for a rise in intonation, as we have already seen in previous sections.
    </p>

    <p>
      1. こんなのを本当に⾷べる？ <br>
      Are you really going to eat something like this? <br> <br>

      2. そんなのは、あるの？ <br>
      Do you have something like that?
    </p>

    <h2>「か」used in relative clauses</h2>

    <h3>Vocabulary</h3>

    <p>
      1. 昨⽇【きのう】- yesterday <br>
      2. 何【なに】- what <br>
      3. ⾷べる【た・べる】- to eat <br>
      4. 忘れる【わす・れる】- to forget <br>
      5. 彼【かれ】- he; boyfriend <br>
      6. ⾔う【い・う】- to say <br>
      7. 分かる【わ・かる】- to understand <br>
      8. 先⽣【せん・せい】- teacher <br>
      9. 学校【がっ・こう】- school <br>
      10. ⾏く【い・く】- to go <br>
      11. 教える【おし・える】- to teach; to inform <br>
      12. どう- how <br>
      13. 知る【し・る】- to know
    </p>

    <p>
      Another use of the question marker is simply grammatical and has nothing to do with the politeness. A
      question marker attached to the end of a relative clause makes a mini-question inside a larger sentence.
      This allows the speaker to talk about the question. For example, you can talk about the question, "What
      did I eat today?" In the following examples, the question that is being considered is in red.
    </p>

    <p>
      1. 昨⽇何を⾷べたか忘れた。 <br>
      Forgot what I ate yesterday. <br> <br>

      2. 彼は何を⾔ったか分からない。 <br>
      Don't understand what he said. <br> <br>

      3. 先⽣が学校に⾏ったか教えない？ <br>
      Won't you inform me whether teacher went to school?
    </p>

    <p>
      In sentences like example 3 where the question being considered has a yes/no answer, it is common (but
      not necessary) to attach 「どうか」. This is roughly equivalent to saying, "whether or not" in English.
      You can also include the alternative as well to mean the same thing.
    </p>

    <p>
      1. 先⽣が学校に⾏ったかどうか知らない。 <br>
      Don't know whether or not teacher went to school. <br> <br>
      
      2. 先⽣が学校に⾏ったか⾏かなかったか知らない。 <br>
      Don't know whether teacher went to school or didn't.
    </p>


    <h3>Vocabulary</h3>

    <p>
      1. おいしい - tasty <br>
      2. クッキー- cookie <br>
      3. 全部【ぜん・ぶ】- everything <br>
      4. ⾷べる【た・べる】 - to eat <br>
      5. 誰【だれ】- who <br>
      6. 盗む【ぬす・む】- to steal <br>
      7. 知る【し・る】- to know <br>
      8. 犯⼈【はん・にん】- criminal <br>
      9. ⾒る【み・る】- to see <br>
      10. この- this (abbr. of これの) <br>
      11. 中【なか】- inside <br>
      12. 〜から - from 〜 <br>
      13. 選ぶ【えら・ぶ】- to select <br>
    </p>

    <p>
      While we're on the topic of questions, this is a good time to go over question words (where, who, what,
      etc.) and what they mean in various contexts. Take a look at what adding the question marker does to
      the meaning of the words.
    </p>

    <h3>Question Words</h3>

    <p>
      誰か - Someone <br>
      何か - Something <br>
      いつか - Sometime <br>
      どこか - Somewhere <br>
      どれか - A certain one from many
    </p>

    <h3>Examples</h3>

    <p>
      As you can see by the following examples, you can treat these words just like any regular nouns.
    </p>

    <p>
      1. 誰かがおいしいクッキーを全部⾷べた。 <br>
      Someone ate all the delicious cookies. <br> <br>

      2. 誰が盗んだのか、誰か知りませんか。 <br>
      Doesn't anybody know who stole it? <br> <br>
      
      3. 犯⼈をどこかで⾒ましたか。 <br>
      Did you see the criminal somewhere? <br> <br>

      4. この中からどれかを選ぶの。 <br>
      (Explaining) You are to select a certain one from inside this (selection).
    </p>

    <h3>Question words with inclusive meaning</h3>

    <h3>Vocabulary</h3>

    <p>
      1. 全部【ぜん・ぶ】- everything <br>
      2. 皆【みんな】- everybody <br>
      3. 皆さん【みな・さん】- everybody (polite) <br>
      4. この- this (abbr. of これの) <br>
      5. 質問【しつ・もん】- question <br>
      6. 答え【こた・え】- answer <br>
      7. 知る【し・る】- to know <br>
      8. 友達【とも・だち】- friend <br>
      9. 遅れる【おく・れる】- to be late <br>
      10. ここ- here <br>
      11. ある- to exist (inanimate) <br>
      12. レストラン- restaurant <br>
      13. おいしい - tasty <br>
      14. 今週末【こん・しゅう・まつ】- this weekend <br>
      15. ⾏く【い・く】 - to go
    </p>

    <p>
      The same question words in the chart above can be combined with 「も」in a negative sentence to
      mean "nobody" (誰も), "nothing" (何も), "nowhere" (どこも), etc.
    </p>
    <p>
      「誰も」and 「何も」are primarily used only for negative sentences. Curiously, there is no way to
      say "everything" with question words. Instead, it is conventional to use other words like 「全部」. And
      although 「誰も」can sometimes be used to mean "everybody", it is customary to use 「皆」or 「皆さ
      ん」
    </p>
    <p>
      The remaining three words 「いつも」(meaning "always") and 「どれも」(meaning "any and all"), and
      「どこも」(meaning everywhere) can be used in both negative and positive sentences.
    </p>

    <h3>Inclusive Words</h3>
    <p>
      誰も - Everybody/Nobody <br>
      何も - Nothing (negative only) <br>
      いつも - Always <br>
      どこも - Everywhere <br>
      どれも - Any and all
    </p>

    <h3>Examples</h3>
    <p>
      この質問の答えは、誰も知らない。 <br>
      Nobody knows the answer of this question.
    </p>

    <h3>Vocabulary</h3>
    <p>
      1. 皆【みんな】- everybody <br>
      2. 皆さん【みな・さん】- everybody (polite) <br>
      3. この- this (abbr. of これの) <br>
      4. 質問【しつ・もん】- question <br>
      5. 答え【こた・え】- answer <br>
      6. 知る【し・る】 - to know <br>
      7. 友達【とも・だち】- friend <br>
      8. 遅れる【おく・れる】 - to be late <br>
      9. ここ- here <br>
      10. ある - to exist (inanimate) <br>
      11. レストラン- restaurant <br>
      12. おいしい - tasty <br>
      13. 今週末【こん・しゅう・まつ】- this weekend <br>
      14. ⾏く【い・く】 - to go
    </p>

    <p>
      The same question words in the chart above can be combined with 「も」in a negative sentence to
      mean "nobody" (誰も), "nothing" (何も), "nowhere" (どこも), etc.
    </p>

    <p>
      「誰も」and 「何も」are primarily used only for negative sentences. Curiously, there is no way to
      say "everything" with question words. Instead, it is conventional to use other words like 「全部」. And
      although 「誰も」can sometimes be used to mean "everybody", it is customary to use 「皆」or 「皆さ
      ん」
    </p>
    <p>
      The remaining three words 「いつも」(meaning "always") and 「どれも」(meaning "any and all"), and
      「どこも」(meaning everywhere) can be used in both negative and positive sentences.
    </p>

    <h3>Inclusive Words</h3>

    <p>
      誰も - Everybody/Nobody <br>
      何も - Nothing (negative only) <br>
      いつも - Always <br>
      どこも - Everywhere <br>
      どれも - Any and all
    </p>

    <h3>Examples</h3>

    <p>
      1. この質問の答えは、誰も知らない。 <br>
      Nobody knows the answer of this question. <br> <br>

      2. 友達はいつも遅れる。 <br>
      Friend is always late. <br> <br>

      3. ここにあるレストランはどれもおいしくない。 <br>
      Any and all restaurants that are here are not tasty. <br> <br>

      4. 今週末は、どこにも⾏かなかった。 <br>
      Went nowhere this weekend.
    </p>

    <p>
      (Grammatically, this 「も」is the same as the topic particle 「も」so the target particle 「に」must go
      before the topic particle 「も」in ordering.)
    </p>

    <h3>Question words to mean "any"</h3>

    <h3>Vocabulary</h3>

    <p>
      1. この- this (abbr. of これの) <br>
      2. 質問【しつ・もん】- question <br>
      3. 答え【こた・え】- answer <br>
      4. 分かる【わ・かる】- to understand <br>
      5. 昼ご飯【ひる・ご・はん】- lunch <br>
      6. いい - good <br>
      7. あの - that (over there) (abbr. of あれの) <br>
      8. ⼈【ひと】- person <br>
      9. 本当【ほん・とう】- real <br>
      10. ⾷べる【た・べる】 - to eat
    </p>

    <p>
      The same question words combined with 「でも」can be used to mean "any". One thing to be careful
      about is that 「何でも」is read as 「なんでも」and not 「なにでも」
    </p>

    <h3>Words for "Any"</h3>

    <p>
      誰でも - Anybody <br>
      何でも - Anything <br>
      いつでも - Anytime <br>
      どこでも - Anywhere <br>
      どれでも - Whichever
    </p>

    <h3>Examples</h3>

    <p>
      1. この質問の答えは、誰でも分かる。 <br>
      Anybody understands the answer of this question. <br> <br>

      2. 昼ご飯は、どこでもいいです。 <br>
      About lunch, anywhere is good. <br> <br>

      3. あの⼈は、本当に何でも⾷べる。 <br>
      That person really eats anything.
    </p>
  </div>
</div>
