<div fxLayout="column" fxLayoutAlign="center center" [@fadeIn]>
  <h1>副詞【ふく・し】</h1>
  <h2>Properties of Adverb</h2>

  <div>
    <h3>Vocabulary</h3>
    <p>
      1. 早い【はや・い】(形容詞【けい・よう・し】) - fast; early <br>
      2. きれい(na-adj) - pretty; clean <br>
      3. 朝ご飯【あさ・ご・はん】- breakfast <br>
      4. ⾷べる【た・べる】(動詞【どう・し】) - to eat <br>
      5. ⾃分【じ・ぶん】- oneself <br>
      6. 部屋【へ・や】- room <br>
      7. 映画【えい・が】- movie <br>
      8. たくさん- a lot (amount) <br>
      9. ⾒る【み・る】(動詞【どう・し】)- to see; to watch <br>
      10. 最近【さい・きん】- recent; lately <br>
      11. 全然【ぜん・ぜん】- not at all (when used with negative) <br>
      12. 声【こえ】- voice <br>
      13. 結構【けっ・こう】- fairly, reasonably <br>
      14. ⼤きい【おお・きい】(形容詞【けい・よう・し】) - big <br>
      15. この- this (abbr. of これの) <br>
      16. 町【まち】- town <br>
      17. 変わる【か・わる】(動詞【どう・し】) - to change <br>
      18. 図書館【と・しょ・かん】- library <br>
      19. 中【なか】- inside <br>
      20. 静かだ【しず・かだ】(形容動詞【けい・よう・どう・し】) - quiet <br>
    </p>

    <p>
      Unlike English, changing adjectives to adverbs is a very simple and straightforward process. In addition,
      since the system of particles make sentence ordering flexible, adverbs can be placed anywhere in the
      clause that it applies to as long as it comes before the verb that it refers to. As usual, we have two
      separate rules: one for 形容詞【けい・よう・し】, and one for 形容動詞【けい・よう・どう・し】.
    </p>

    <h3>
      How to change an adjective to an adverb
    </h3>

    <p>
      • For 形容詞【けい・よう・し】: Substitute the 「い」with 「く」. <br>
      Example: 早い→ 早く <br><br>
      • For 形容動詞【けい・よう・どう・し】: Substitute「だ」with particle「に」. <br>
      Example: きれい→ きれいに
    </p>

    <p>
      ボブは朝ご飯を早く⾷べた。<br>
      Bob quickly ate breakfast.
    </p>

    <p>
      The adverb 「早く」is a little different from the English word 'fast' in that it can mean quickly in terms of
      speed or time. In other words, Bob may have eaten his breakfast early or he may have eaten it quickly
      depending on the context. In other types of sentences such as 「早く⾛った」, it is quite obvious that it
      probably means quickly and not early. (Of course this also depends on the context.)
    </p>

    <p>
      • アリスは⾃分の部屋をきれいにした。<br>
      Alice did her own room toward clean.
    </p>

    <p>
      The literal translation kind of gives you a sense of why the target particle is used. There is some argument
      against calling this an adverb at all but it is convenient for us to do so because of the grouping of iadjectives
      and na-adjectives. Thinking of it as an adverb, we can interpret the sentence to mean: "Alice
      did her room cleanly." or less literally: "Alice cleaned her room." (「きれい」literally means "pretty" but
      if it helps, you can think of it as, "Alice prettied up her own room.")
      Note: Not all adverbs are derived from adjectives. Some words like 「全然」and 「たくさん」are
      adverbs in themselves without any conjugation. These words can be used without particles just like
      regular adverbs.
    </p>

    <p>
      1. 映画をたくさん⾒た。<br>
      Saw a lot of movies. <br><br>
      2. 最近、全然⾷べない。<br>
      Lately, don't eat at all.
    </p>

    <h3>Examples</h3>

    <p>
      Here are some more examples of using adverbs.
    </p>

    <p>
      1. ボブの声は、結構⼤きい。<br>
      Bob's voice is fairly large. <br><br>
      2. この町は、最近⼤きく変わった。<br>
      This town had changed greatly lately.<br><br>
      3. 図書館の中では、静かにする。<br>
      Within the library, [we] do things quietly.
    </p>


    <h3>Vocabulary and Example</h3>

    <h4>Status</h4>
    <p>
      上【うえ】- up <br>
      見る【み・る】- look <br>
      背【せ】- height <br>
      伸びる【の・びる】- grow <br> <br>

      そっと - motionlessly, stealthily, furtively, secretly <br>
      ぐんぐん - steadily <br> <br>

      上をそっと見る。 <br>
      look up motionlessly <br> <br>

      背がぐんぐん伸びる。 <br>
      grow taller and taller steadily
    </p>

    <h4>Time</h4>
    <p>
      今【いま】- now <br>
      行く【い・く】- go <br>
      食べる【た・べる】- eat <br>
      彼女【かのじょ】- she, girl friend <br>
      勉強【べん・きょう】- study <br>
      する - do <br>
      外【そと】- outside <br>
      待つ【ま・つ】- wait <br> <br>

      直ぐに【す・ぐに】 - right away <br>
      時々【とき・どき】 - sometime <br>
      いつも - always <br>
      たまに - sometimes <br>
      しばらく - for a while <br> <br>

      今、直ぐに行く。 <br>
      I will go right now <br> <br>

      これは時々食べる。 <br>
      I sometimes eat this <br> <br>

      いつも彼女を見る。 <br>
      alawys look at her <br> <br>

      たまに勉強をする。 <br>
      study sometimes <br> <br>

      外でしばらく待つ。 <br>
      wait outside for a while 
    </p>

    <h4>
      Amount
    </h4>
    <p>

      大きい【おお・きい】- big <br>
      時間【じ・かん】- time <br>
      欲しい【ほ・しい】- want, be desirous of, need <br>
      危ない【あぶ・ない】- dangerous <br>
      簡単だ【かん・たん・だ】- easy <br> <br>


      とても - a lot, many, much <br>
      もっと - more <br>
      かなり - quite, pretty <br>
      結構【けっ・こう】- quite, pretty <br> <br>

      このマンゴはとても大きい。 <br>
      this mango is so big <br> <br>

      時間がもっと欲しい。 <br>
      need more time <br> <br>

      彼女はかなり危ない。 <br>
      She is quite dangerous <br> <br>

      これは結構簡単だ。 <br>
      This is pretty easy

    </p>

    <h4>Description</h4>

    <p>
      明日【あした】- tomorrow <br>
      雨【あめ】- rain <br>
      遅い【お・そい】- late, slow <br>
      ～から - due to, because <br>
      ～だろう - will be ~ , would be ~, could be ~ <br>
      失敗【しっ・ぱい】- failure <br>
      合格【ごう・かく】- pass <br>
      できない - impossible, unable <br>
      負ける【ま・ける】- lose <br> <br>

      決して（～ない）【けっ・して】- never <br>
      なぜ - why <br>
      なぜなら - that is because (explain the reason) <br>
      どうか - somehow <br>
      もし - if <br>
      恐らく【おそ・らく】- maybe, perhaps <br>
      きっと - surely, certainly <br>
      到底【とう・てい】- utterly, absolutely <br> <br>

      決して負けるな <br>
      Do not lose! <br> <br>

      あなたはなぜ昨日は遅かった。 <br>
      (Ask for explanation) Why you was late yesterday? <br> <br>

      なぜなら外でご飯を食べたから。 <br>
      That is because, I ate the meal (breakfast, lunch, dinner) outside <br> <br>

      どうか明日は晴れるように。 <br>
      Hope to be clear tomorrow <br> <br>

      もし失敗したらどうしよう。 <br>
      If failed, what should do. <br> <br>

      恐らく合格するだろう <br>
      Maybe, it will be passed <br> <br>

      きっと彼女はいい人だ。 <br>
      She could be such a good person <br> <br>

      到底勉強ができない。 <br>
      Really not able to study 

    </p>

    <h4>Instruction</h4>

    <p>
      こう like this <br>
      そう like that (near) <br>
      ああ like that (far) <br>
      どう how, what <br> <br>

      こうすればいい。 <br>
      It will be better if do like this <br> <br>

      そうすればいい。 <br>
      It will be better if do like that <br> <br>

      ああすればいい。 <br>
      It will be better if do like that <br> <br>

      どうすればいい。 <br>
      What should do ?
    </p>
  </div>
</div>
