
<mat-toolbar color="primary" fxLayout="row wrap">
  <button mat-button [routerLink]="[ '/particle' ]" routerLinkActive="active">Particle</button>
  <button mat-button [routerLink]="[ '/adjective' ]" routerLinkActive="active">Adjective</button>
  <button mat-button [routerLink]="[ '/adverb' ]" routerLinkActive="active">Adverb</button>
  <button mat-button [routerLink]="[ '/verb' ]" routerLinkActive="active">Verb</button>
  <button mat-button [routerLink]="[ '/special-expression' ]" routerLinkActive="active">Sprecial Expression</button>

</mat-toolbar>

<router-outlet></router-outlet>
