.letter-img {
    min-width: 66vw;
    height: 79vh;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.closeButton {
    position: absolute;
    right: 15px;
    z-index: 100;
}