
<mat-toolbar color="primary" fxLayout="row wrap">
  <button mat-button [routerLink]="[ '/basic' ]" routerLinkActive="active">Basic Expression</button>
  <button mat-button [routerLink]="[ '/particle' ]" routerLinkActive="active">Particle</button>
  <button mat-button [routerLink]="[ '/adjective' ]" routerLinkActive="active">Adjective</button>
  <button mat-button [routerLink]="[ '/adverb' ]" routerLinkActive="active">Adverb</button>
  <button mat-button [routerLink]="[ '/verb' ]" routerLinkActive="active">Verb</button>
  <button mat-button [routerLink]="[ '/special' ]" routerLinkActive="active">Special Expression</button>

</mat-toolbar>

<div>
    <button mat-button (click)="openLetterSheet(0)">ひらがな・Hiragana</button> / 
    <button mat-button (click)="openLetterSheet(1)">カタカナ・Katakana</button>

</div>

<ng-template #letteSheetComponent>
  <button mat-icon-button color="primary" class="closeButton" (click)="onCloseDialog()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-tab-group [dynamicHeight]="true" [selectedIndex]="letterType">
    <mat-tab label="ひらがな">
      <img class="letter-img" src="assets/images/hiragana3.gif" alt="hiragana" (click)="openImage('hiragana')">  
    </mat-tab>
    <mat-tab label="カタカナ">
      <img class="letter-img" src="assets/images/katakana3.gif" alt="katakana" (click)="openImage('katakana')">  
    </mat-tab>
  </mat-tab-group>
</ng-template>


<router-outlet></router-outlet>
