
.max-width-100 {
    max-width: 100%;
}

.max-width-900px {
    max-width: 900px;
}


.image-1 {
    height:40em; 
    background-size:cover; 
    width:auto;
    background-image:url('../../assets/images/t3-demonstrative-adjective-1.png');
    background-position:50% 50%;
  }