/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "uiil";
@import "https://fonts.googleapis.com/icon?family=Material+Icons&display=block";

.mat-toolbar-row, .mat-toolbar-single-row {
    min-height: 64px;
    
}
.mat-flat-button {
    min-width: unset !important;
}

@media (max-width: 599px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: unset !important;
    }
}

p {
    max-width: 900px;
    word-wrap: break-word;
    word-spacing: normal;
    white-space: pre-wrap;
}

h2 {
    text-align: center;
}

.exception {
    color: rgb(255, 22, 22);
}

table tr td {
    padding-left: 30px;
}



.button-group-lg {
    width: 100%;
    justify-content: center;
}

.button-group-sm {
    width: unset;
} 

.mat-dialog-container {
    position: relative;
}

@media (max-width: 740px) {
    .button-group-sm {
        width: 100%;
    } 

    .button-group-lg {
        width: 100%;
        justify-content: unset;
        overflow: auto;
    }
    
}
